<!DOCTYPE html>
<html>

<head>
    <title>KFS Non P2P Lender</title>
    <style>
        .fw400 {
            font-weight: 400;
        }

        .fw-bold {
            font-weight: bold;
        }

        .width-100 {
            width: 100%;
        }

        .width-33 {
            width: 33%;
        }

        .width-66 {
            width: 66%;
        }

        .word-wrap {
            overflow-wrap: anywhere;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .underline {
            text-decoration: underline;
        }

        .m-auto {
            margin: auto;
        }

        .mb10 {
            margin-bottom: 10px;
        }

        .mb20 {
            margin-bottom: 20px;
        }

        .mb30 {
            margin-bottom: 20px;
        }

        .mb40 {
            margin-bottom: 40px;
        }

        .mb50 {
            margin-bottom: 50px;
        }

        .mb60 {
            margin-bottom: 60px;
        }

        .width-auto {
            width: -moz-fit-content;
            width: fit-content;
        }
    </style>
</head>

<body>
<div style="padding: 20px 30px; margin-top: 50px">
    {{lender_logo}}
    <h2 class="text-center">
        <span class="underline">KEY FACTS STATEMENT</span>
    </h2>

    <p style="margin: 6px 16px" class="fw400">
        This Key Fact Sheet (“KFS”) is applicable on the term loan facility applied by the Borrower through
        “BharatPe” app:
    </p>

    <table border="1" cellspacing="0" class="width-100 mb20">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">Borrower</p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{address_of_borrower}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    -
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">Lender</p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_lender_nbfc}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_nbfc}} {{lender_tag}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span> Loan ID</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{loan_id}}</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Purpose of Loan</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Personal use</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Nature of the Loan</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Term Loan</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Lending Service Provider (LSP)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span> Digital Lending Application (DLA)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Mobile based platform "BharatPe"</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Loan Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{loan_amount_in_figure}} (Rupees {{loan_amount_in_words}}
                    Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-100 text-center fw-bold" colspan=2>
                Other Upfront Charges
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Processing Fees (Inclusive of taxes)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{processing_fee_statement}}Rs.
                    {{processing_fee_includes_tax}}/- (Rupees
                    {{processing_fee_in_words_includes_tax}} Only)
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    The Processing Fees is a one-time fee.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Insurance charges (if any)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    -
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Other charges (if any)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    -
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-100 text-center fw-bold" colspan=2>
                Other details related to loan
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Net Disbursed Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{loan_amount_disbursed}}/- (Rupees
                    {{loan_amount_disbursed_in_words}} Only)
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *Interest will be applicable on the Loan Amount as communicated
                    above
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Interest Rate (applied on a simple interest basis)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{rate_of_interest}} % per month</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">Annual Percentage Rate (APR)</p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Annualized Percentage Rate {{apr}} % per annum </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Total Interest charged during the Tenure of the Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{interest_charged_to_borrower}}/- (Rupees
                    {{interest_charged_to_borrower_in_words}} Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Total Amount to be paid by the Borrower during the Tenure (along
                    with interest & processing fees)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure}}
                    /- (Rupees
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure_in_words}}
                    Only)
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Repayment Mode
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    • Deduction of amount Instalment Amount or any other dues as per the Loan Documents from the
                    daily Settlement Amount** as per the instructions of the Borrower to Resilient Innovations
                    Private Limited (offline payment aggregator of the Borrower) <span class="fw-bold">(“Offline
                                PA”).</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *Borrower hereby expressly, unconditionally and irrevocably authorizes the Offline PA to
                    make deduction of Instalment Amount and other dues as per the Loan Documents & make payment
                    directly to the Lender
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    **Settlement Amount shall have the meaning defined under the Loan Documents
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Instalment Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{interest_equal_daily}} /- (Rupees
                    {{interest_equal_daily_in_words}} Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Repayment/Instalment Frequency
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Daily
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">Tenure</p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{tenure_of_loan_in_months}} months
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Number of Instalments
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{no_of_edis}} equal daily instalments (Please refer to
                    Repayment Schedule attached)
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-100 text-center fw-bold" colspan=2>
                Details about Contingent Charges
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    Penal Charges
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw-bold text-left fw">
                    In the event the Borrower fails to make payment of {{edi_days}} equal daily instalments, (as
                    per the
                    repayment schedule), a Penal Charge shall be levied in the following manner:
                </p>
                <table border="1" cellspacing="0" class="m-auto mb20 width-100 fw-bold"
                       style="page-break-inside: avoid !important">
                    <tbody>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Outstanding Amount
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Penal Charges (In Rs.)
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Upto Rs. {{outstanding_amount_1}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_1}}
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Rs. {{outstanding_amount_min_2}} - {{outstanding_amount_max_2}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_2}}
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Rs. {{outstanding_amount_min_3}} - {{outstanding_amount_max_3}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_3}}
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Rs. {{outstanding_amount_min_4}} - {{outstanding_amount_max_4}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_4}}
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Rs. {{outstanding_amount_min_5}} - {{outstanding_amount_max_5}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_5}}
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Rs. {{outstanding_amount_min_6}} - {{outstanding_amount_max_6}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_6}}
                            </p>
                        </td>
                    </tr>
                    <tr class="width-100 ">
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                Rs. {{outstanding_amount_min_7}} - {{outstanding_amount_max_7}}
                            </p>
                        </td>
                        <td style="padding: 0px 5px" class="width-auto">
                            <p class="fw-bold text-left m6">
                                {{penal_charges_7}}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    The Penal Charges shall be levied on a monthly basis as per the above grid.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    The Lender reserves the right to amend/modify the Penal Charges in its sole discretion. Any
                    such change will be notified to the Borrower in accordance with the Loan Agreement.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Rate of annualized penal charges (if any)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>-</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Rate of annualized other penal charges (if any); (details to be provided)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Pre-Payment/Part-Payment /Foreclosure</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Cheque/NACH Bounce Charges</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Rs. 500/-</span><br>
                            <span>The aforesaid charges will be applicable for one or more bounce during the month
                            </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-100 text-center fw-bold" colspan=2>
                Other Disclosures
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Cooling Off Period</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{cooling_off_days}} days from the disbursal of the Loan
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span>
                                *Please note proportionate interest & other charges including the processing fees (other
                                than pre-payment/foreclosure charges) will be levied during the Cooling Off period.
                            </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Recovery Agent</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
                <p style="margin: 6px 16px" class="fw-bold text-left">
                            <span>*Please note that Recovery Agent (and/or its authorized representatives/entities) has
                                been authorized by the
                                Lender to contact for default in repayments. Kindly make
                                payment on or before Due Date</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Recovery Mechanism</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span>In case of non-payment of the loan amount, interest, and other charges as per the
                                terms of the loan documents, the Lender or its authorized service provider(s) may
                                approach the borrower, co borrower, and guarantor for the payment of the outstanding
                                amount, by way of call(s), SMS(s), email(s), and in person visit(s). Notwithstanding
                                anything mentioned hereinabove, in the event of non-receipt of the loan amount and other
                                charges, the Lender may resort to legal recourse.</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span>Grievance Redressal</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66">
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span class="underline">For Lender</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">{{name_of_nodal_officer}}</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span><span class="">{{email_id}}, {{conatct_no}}, {{grievance_time}}</span></span>
                </p>
                <br />
                <p style="margin: 6px 16px" class="fw-bold text-left">
                    <span class="underline">For LSP</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">Name: Ankit Parnami</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">Email: nodalofficer@bharatpemoney.com</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">Working hours: Monday to Friday from 10:00 a.m to 7:00 pm</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span class="">Website: <a href="https://www.bharatpemoney.com/" target="_blank">
                                    www.bharatpemoney.com</a></span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span class="">Privacy Policy:
                                <a href="https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-_-For-RTPL-1.docx-1.pdf "
                                   target="_blank">https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-_-For-RTPL-1.docx-1.pdf
                                </a>
                            </span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <p style="margin: 6px 16px" class="fw400 mb20">
        *For more detailed information, please refer to the Sanction Letter & Loan Agreement for the loan facility.
        This Key Fact Statement needs to be read along with the Sanction Letter & Loan Agreement.
    </p>
    <div style="page-break-inside: avoid !important">
        <h3 class="text-center">
            <span class="underline fw-bold">Repayment Schedule</span>
        </h3>
        <table border="1" cellspacing="0" class="width-100 m-auto mb20" style="table-layout: fixed">
            <tbody>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Instalment No.</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Outstanding Principal (in Rupees)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Principal (in Rupees)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Interest (in Rupees)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Instalment (in Rupees)</strong>
                    </p>
                </td>
            </tr>
            {{repayment_schedule}}
            </tbody>
        </table>
    </div>
    <table id="repayment" border="1" cellspacing="0" class="m-auto mb60"
           style="page-break-inside: avoid !important">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Borrower Name
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Date</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{date}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Mobile No. for OTP
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Platform</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{platform}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">IP Address</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{ip_address}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Time Stamp</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{time_stamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Loan ID</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>