<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Application form PayU</title>
    <style>
        .fw400 {
            font-weight: 400;
        }

        .fw-bold {
            font-weight: bold;
        }

        .width-100 {
            width: 100%;
        }

        .width-33 {
            width: 33%;
        }

        .width-66 {
            width: 66%;
        }

        .width-20 {
            width: 20%;
        }

        .width-80 {
            width: 80%;
        }

        .word-wrap {
            overflow-wrap: anywhere;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .underline {
            text-decoration: underline;
        }

        .m-auto {
            margin: auto;
        }

        .mb10 {
            margin-bottom: 10px;
        }

        .mb20 {
            margin-bottom: 20px;
        }

        .mb30 {
            margin-bottom: 30px;
        }

        .mb40 {
            margin-bottom: 40px;
        }

        .mb50 {
            margin-bottom: 50px;
        }

        .mb60 {
            margin-bottom: 60px;
        }

        .mt10 {
            margin-top: 10px;
        }

        .mr20 {
            margin-right: 20px;
        }

        .ml40 {
            margin-left: 40px;
        }

        .mt30 {
            margin-top: 30px;
        }

        .width-auto {
            width: -moz-fit-content;
            width: fit-content;
        }

        .fw400 {
            font-weight: 400;
        }

        .width-100 {
            width: 100%;
        }

        .fw600 {
            font-weight: 600;
        }

        .width-33 {
            width: 33%;
        }

        .width-66 {
            width: 66%;
        }

        .word-wrap {
            overflow-wrap: anywhere;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .underline {
            text-decoration: underline;
        }

        .m-auto {
            margin: auto;
        }

        .bold {
            font-weight: bold;
        }

        .upper-case {
            text-transform: uppercase
        }

        .text-color-white {
            color: #FFF;
        }

        .bg-color-orange {
            background-color: #E46F02;
        }

        .common-text-margin {
            margin: 6px 16px;
        }

        .m16 {
            margin: 16px;
        }

        .flex {
            display: flex;
        }

        .flex-justify {
            justify-content: space-between;
        }

        .flex-end {
            justify-content: end;
        }

        .common-text {
            font-weight: 400;
            text-align: left;
            margin: 16px;
        }

        .italic {
            font-style: italic;
        }

        .terms-text {
            font-weight: 400;
            margin-bottom: 10px;
        }

        .center-box {
            padding: 15px;
            border: 1px solid #000;
            display: flex;
            width: fit-content;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    </style>
</head>

<body>
<div style="padding: 30px; margin-top: 50px">
    <div class="text-center">{{lender_logo}}</div>
    <h2 class="text-center">
        Application Form No. {{lead_id}}
    </h2>

    <div class="width-100 bg-color-orange mb30" style="padding: 6px;">
        <p class="fw-bold text-left common-text-margin">
            <span class="upper-case text-color-white">BORROWER DETAILS</span>
        </p>
    </div>

    <table border="1" cellspacing="0" class="width-100 mb50" style="table-layout: fixed">
        <tbody class="word-wrap">
        <tr class="width-100">
            <td style="padding: 0px 5px">
                <p class="common-text">
                    Name of the Borrower: {{borrower_name}}
                </p>
            </td>
        </tr>
        <!-- <tr class="width-100">
    <td tyle="padding: 0px 5px">
        <div class="width-80">
            <p class="common-text">
                Mother's/ Father’s/Spouse Name: NA
            </p>
        </div>
    </td>
</tr>
<tr class="width-100">
    <td tyle="padding: 0px 5px">
        <div class="width-80">
            <img src={{merchant_photo}} height="200" width="150" style="border: 1px solid #000;"
                    class="mt10" />
        </div>
    </td>
</tr> -->
        <tr class="width-100">
            <td style="padding: 0px 5px">
                <div class="flex flex-justify word-wrap width-100">
                    <div>
                        <p class="common-text">
                            Mother's/ Father’s/Spouse Name: NA
                        </p>
                        <p class="common-text">
                            Nationality: Indian
                        </p>
                        <p class="common-text">
                            Date of Birth: {{dob}}
                        </p>
                        <p class="common-text">
                            Gender: {{gender}}
                        </p>
                        <p class="common-text">
                            Occupation Type: Self Employed
                        </p>
                        <p class="common-text">
                            Proof of Identity: PAN
                        </p>
                        <p class="common-text">
                            Proof of Address: Aadhaar
                        </p>
                    </div>
                    <div class="flex flex-end ">
                        <img src={{borrower_selfie}} alt="selfie" height="200" width="150" style="border: 1px solid #000;"
                             class="mt10" />
                    </div>
                </div>
            </td>

        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px">
                <p class="common-text italic">
                    <span class="underline">Other details</span> (applicable for all):
                </p>
                <p class="common-text">
                    Primary Mobile Number: {{phone_number_of_borrower}}
                </p>
                <p class="common-text">
                    Secondary Mobile Number (if any): NA
                </p>
                <p class="common-text">
                    PAN: {{pan_of_borrower}}
                </p>
                <p class="common-text">
                    Email Address: NA
                </p>

                <p class="common-text">
                    Communication Address
                </p>
                <p class="common-text">
                <div class="flex ml40 mb10"> {{business_address}} </div>
                <div class="flex ml40 mb10">

                    <span class="mr20">City: {{business_city}}</span>
                    <span>
                                Pin code: {{business_pincode}}</span>
                </div>
                <div class="flex ml40">
                    <span class="mr20">State: {{business_state}}</span>
                    <span>
                                Country: India</span>
                </div>
                </p>

                <p class="common-text">
                    Permanent Address
                </p>
                <p class="common-text">
                <div class="flex ml40 mb10"> {{address_of_borrower}} </div>
                <div class="flex ml40 mb10">
                    <span class="mr20">City: {{borrower_city}}</span>
                    <span>
                                Pin code: {{borrower_pincode}}</span>
                </div>
                <div class="flex ml40">
                    <span class="mr20">State: {{borrower_state}}</span>
                    <span>
                                Country: India</span>
                </div>
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px">
                <p class="common-text mb10">
                    Term loan facility amount applied for (in INR) * : {{loan_amount_in_figure}}
                </p>
                <p class="common-text italic">
                    * The Facility amount sanctioned to the Borrower may be different from the facility amount
                    applied for by the Borrower and shall be communicated to the Borrower, either by way of a
                    notification on the dashboard provided on the Service Platform or a notification on the
                    dashboard provided by the Lender or otherwise through the Key Facts Statement and/or the
                    Most Important Terms and Conditions.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="width-100 bg-color-orange mb30" style="padding: 6px;">
        <p class="fw-bold text-left common-text-margin">
            <span class="upper-case text-color-white">BORROWER’S CONFIRMATIONS AND UNDERTAKINGS</span>
        </p>
    </div>

    <p class="common-text">
        By clicking the <span class="fw-bold">Confirm and Continue </span> button, the Borrower hereby
        expressly, irrevocably, and unconditionally confirms and agrees the following:</span>
    </p>

    <ol class="mb40">
        <li class="terms-text">
            The Borrower hereby applies for a term loan facility <span class="fw-bold">(Facility)</span> from PayU
            Finance India Private Limited <span class="fw-bold">(Lender)</span> for the purpose of utilizing the
            same as a personal loan.
        </li>
        <li class="terms-text">
            The Borrower understands that this Application Form along with the Welcome Letter, the Key Facts
            Statement <span class="fw-bold">(KFS)</span>, the Most Important Terms and Conditions <span
                class="fw-bold">(MITCs)</span>, and each Statement sets out the
            salient commercial terms of the Facility whilst the General Terms and Conditions <span
                class="fw-bold">(GTCs)</span> apply to the
            entire contractual relationship between the Parties. The Welcome Letter, the KFS, the MITCs, the
            Statement and the GTCs are collectively referred to as the <span class="fw-bold">Facility
                    Documents.</span>
        </li>
        <li class="terms-text">
            The Borrower understands that: (a) for the Lender to disburse the Facility, the Borrower will be
            required to accept and execute the Facility Documents on the Service Platform or otherwise in the manner
            specified by the Lender; (b) subject to the amount as approved by the Lender, the Lender shall directly
            deposit the relevant approved Facility amount into the bank account of the Borrower (the details of
            which are provided and confirmed by the Borrower to the Lender during the Facility application process
            on the Service Platform or otherwise to the Referral Partner for and on behalf of the Lender ) towards
            the Personal Loan purpose; and (c) once deposited by the Lender, such amounts shall constitute a
            disbursement of the Facility pursuant to the Facility Documents. The Borrower acknowledges that while
            the Referral Partner shall be involved as a facilitator of the Facility, the Facility shall be made
            available by the Lender and the Borrower's contractual arrangements in this regard shall be with the
            Lender.
        </li>

        <li class="terms-text">
            The Borrower declares that all particulars, information, and details given/filled in, or submitted
            along with this Application Form are true, correct, complete and up to date in all respects and no
            information has been withheld. The Borrower understands that the information given in, or submitted
            along with, this Application Form or otherwise submitted by the Borrower to the Lender and/or Referral
            Partner, shall form the basis for the grant of the Facility that the Lender may decide to grant to the
            Borrower and if at any stage of processing this Application Form or subsequently, it comes to the
            knowledge of the Lender that the Borrower has provided any incorrect or incomplete information or fake
            or fabricated documents, those will be treated by the Lender as having been manipulated by the Borrower
            and the Lender shall have the right to forthwith reject this Application Form, cancel or revoke the
            Facility and/or recall the Facility already disbursed to the Borrower and/or regard the same as an Event
            of Default, without assigning any reason whatsoever, and the Lender and its employees, representatives,
            agents, Referral Partner and/or service providers shall not be responsible/liable in any manner
            whatsoever to the Borrower for such rejection or cancellation/revocation or declaration of an Event of
            Default or any delay in notifying the Borrower of such rejection or cancellation/revocation/declaration
            of an Event of Default. The Borrower hereby indemnifies and undertakes to indemnify and hold harmless
            the Lender and its employees, representatives, agents, Referral Partner and/or service providers from
            and against all Losses threatened and/or suffered as a result of any of the foregoing.
        </li>
        <li class="terms-text">
            The Borrower understands that the Lender may already have or will also be procuring the Borrower's
            personal information (including sensitive personal information) from other sources/agencies including,
            but not limited to, any Service Platform or through any of its Affiliates or group companies, and the
            Borrower has no objection to such procurement and hereby provides his/her express consent for the same.
        </li>
        <li class="terms-text">
            The Borrower authorizes the Lender to make any inquiries relating to any information given in, or
            submitted along with, this Application Form or otherwise, as the Lender considers necessary, including
            from the banks where the Borrower holds bank accounts. The Borrower authorizes the Lender to (a) procure
            his/her PAN No./copy of PAN Card, other identity proofs and bank account details from time to time, (b)
            exchange, part with/share all information relating to the Borrower’s loan details and repayment history
            with other banks/financial institutions/CIBIL/CRIF, other credit information companies, its Affiliates
            and group companies, etc., and (c) periodically obtain or generate CIBIL, CRIF, Experian, Hunter, other
            credit information companies reports and such other reports as may be required, and in each case the
            Borrower shall not hold the Lender liable for use or obtaining or sharing of such information. The
            Borrower confirms that there are no criminal or insolvency proceedings against him/her and he/she has
            not been classified as a willful defaulter in the records of any financial institution or the Reserve
            Bank of India.
        </li>
        <li class="terms-text">
            The Borrower hereby irrevocably and unconditionally authorize and grant consent to the Lender to
            obtain, receive, process, verify and store Borrower’s PAN number/copy of PAN card/Pan details from
            Protean eGov Technologies Limited (formerly NSDL e-Governance Infrastructure Limited), for undertaking,
            amongst other, Borrower’s credit assessment, onboarding, conducting due diligence and monitoring
            Borrower’s credit worthiness, etc., from time to time.
        </li>
        <li class="terms-text">
            The Borrower hereby irrevocably and unconditionally authorize and grant consent to the Lender to
            obtain, receive, process and store Borrower’s know-your customer (KYC) details/documents from Central
            KYC Registry and/or any other similar entity(ies)/body(ies), for undertaking, amongst other, Borrower’s
            credit assessment, onboarding, conducting due diligence and monitoring Borrower’s credit worthiness,
            etc., from time to time.
        </li>
        <li class="terms-text">
            The Borrower hereby irrevocably and unconditionally authorize and grant consent to the Lender to
            share with, or disclose, subject to Applicable Laws, Borrower’s credit information, and/or any other
            information(s)/document(s) received by the Lender from Credit Bureau, and KYC details/documents held
            with or received by the Lender with: (a) Lender’s agents or service providers for the purposes of: (i)
            sanctioning the Facility (ii) undertaking collections and recovery services and (iii) such other purpose
            as may be deemed appropriate by the Lender in relation with the Facility and (b) regulators and other
            governmental authorities.
        </li>
        <li class="terms-text">
            The Borrower hereby agree and acknowledge that: (a) the personal information (including sensitive
            personal information) such as Borrower’s name, age, email id, PAN, Aadhar details, contact details,
            location, PIN code, GSTIN and bank account details; (b) information in relation to Borrower’s
            contract/arrangements with the Lender; (c) details of Borrower’s repayment/payments to the Lender; (d)
            details of repayment cycle; (e) details of Borrower’s disputes with the Lender; and (f) any penalties
            levied on Borrower by the Lender (collectively referred to as <span class="fw-bold">Borrower
                    Data</span>), can be subject to the
            provisions of Applicable Laws, collected, used, processed, stored and shared by the Lender with the
            Referral Partner and/or other third party and in each case and their agents, representatives and service
            providers, as and when required by the Lender, in relation to the Facility availed by the Borrower from
            the Lender till such time the Borrower’s: (a) repay to the Lender all outstanding payments in relation
            to the Facility availed by the Borrower from the Lender or (b) remain associated with the Lender or (c)
            as may be required under Applicable Laws (whichever is later).
        </li>
        <li class="terms-text">
            The Borrower hereby agree and acknowledge that in the event where the Borrower’s revoke/withdraw
            his/her consent to collect, store, use, process or share any information in relation to the Borrower
            that is in the nature of Borrower Data and/or personal data/personal information, the Borrower shall
            intimate to the Lender in writing, and shall immediately cease the use of the Facility availed from the
            Lender and make payments of all amounts in relation to the Facility including, without limitation, the
            disbursed amount and the interest thereon, including any other charges and fees as specified in the
            Facility Documents that the Borrower has entered with the Lender that have remain unpaid.
        </li>
        <li class="terms-text">
            The Borrower hereby acknowledge and agree that the Borrower may request to delete or erase any personal
            information (including, but not limited to, Borrower Data) to the extent permitted to be requested under
            Applicable Laws and the Lender shall, and shall ensure that the Referral Partner and/or the relevant
            third parties shall, delete or erase such personal information as requested by the Borrower (provided
            however that the Borrower acknowledge and agree that notwithstanding any such request by the Borrower,
            the Lender and/or the relevant third parties may retain such information to the extent required under
            Applicable Laws or as per statutory or regulatory requirements).
        </li>
        <li class="terms-text">
            The Borrower hereby agree and acknowledge that in the event where the Borrower do not provide his/her
            consents for collection, storage, processing, sharing and use of Borrower Data as request above, the
            Lender may, at its sole discretion, not provide or cease to provide the Facility to the Borrower.
        </li>
        <li class="terms-text">
            These authorizations / consents are in addition to and without diluting the general consent
            available under the Applicable Law and/or granted by the Borrower in any other document or agreement,
            from time to time.
        </li>
        <li class="terms-text">
            The Borrower declares that he/she has not made any payment to any person in cash,
            bearer cheques or by any other mode along with or in connection with this Application Form or for
            availing Facility from the Lender.
        </li>
        <li class="terms-text">
            The Borrower would like to know through telephonic calls, emails, SMS or WhatsApp messages on the
            Borrower's mobile number(s) mentioned in the Application Form, or through any other communication mode,
            transactional information, various loan offers or schemes or loan promotional schemes or any other
            promotional schemes which may be provided by the Lender or any of its Affiliates or group companies or
            business partners and hereby authorizes the Lender, any of its Affiliates, group companies or business
            partners and their employees, agents, or associates to do so. The Borrower hereby waives, on his/her
            behalf the application of any laws in relation to the unsolicited communication referred in <span
                class="fw-bold underline">National Do
                    Not Call Registry as laid down by Telecom Regulatory Authority of India </span> and confirms that
            the
            same will
            not be applicable for such communications, emails, calls, SMSs and WhatsApp messages received from the
            Lender, any of its Affiliates or group companies or business partners and their employees, agents and/or
            associates.
        </li>
        <li class="terms-text">
            The Borrower understands that he/she has an option of not providing the information as required in
            this Application Form or as may be required by the Lender from time to time, in which case the Lender
            shall have the right to forthwith reject this Application Form, cancel/revoke/suspend the Facility
            and/or recall any amount of the Facility already disbursed to the Borrower. The Borrower does hereby
            expressly and irrevocably authorize the Lender to collect, store, share, obtain and authenticate any
            aspect of his/her personal information (including sensitive personal information)/KYC either directly or
            through any of the agencies authorized by the Lender and, subject to Applicable Law, disclose such
            information to its agents/contractors/service providers/Referral Partner and to also use such
            information in any manner that may be required by the Lender including for the purposes of the Facility
            and for purposes of its business (or for the businesses of any of its Affiliates or group companies or
            business partners) and for such time period as they may deem fit. In this regard, the Borrower
            expressly, irrevocably and unconditionally authorizes the Lender to collect, use, verify, authenticate
            and share all such personal information (including sensitive personal information) and identity
            information/KYC in any manner without any notice to the Borrower.
        </li>
        <li class="terms-text">
            The Borrower confirms that he/she knows English and has carefully read and understood (and will
            carefully read and understand) the terms and conditions of this Application Form, the Welcome Letter,
            the KFS and the MITCs (each of which includes the Charges payable by the Borrower), the GTCs and other
            Facility Documents and that the disbursement of the Facility to the Borrower will be governed by the
            terms and conditions of all the Facility Documents.
        </li>
        <li class="terms-text">
            The Lender shall be entitled to take legal or such other action as it may deem fit upon occurrence of
            any of the Events of Default as set out and agreed by the Borrower in the Facility Documents.
        </li>
        <li class="terms-text">
            The Borrower confirms that the total household income of the Borrower exceeds INR 3,00,000 (Rupees
            Three Lacs) per annum.
        </li>
        <li class="terms-text">
            The Borrower confirms and declares that he/she is not a politically exposed person <span
                class="fw-bold">(PEP).</span> The
            Borrower understands that PEPs are individuals who are or have been entrusted with prominent public
            functions in a foreign country including the heads of States/Governments, senior politicians, senior
            government or judicial or military officers, senior executives of state-owned corporations and important
            political party officials.
        </li>
        <li class="terms-text">
            The Borrower irrevocably and unconditionally agrees, acknowledges and accepts that his/her personal
            information (including sensitive personal information) and identity information/KYC will be handled by:
            (a) the Lender in accordance with its privacy policy available at <a
                href="https://www.payufin.in/privacy-policy"
                target="_blank">https://www.payufin.in/privacy-policy</a>
            and Applicable Law and (b) the Referral Partner in accordance with its privacy policy and the terms and
            conditions for loan service (links of which are available in the KFS) and Applicable Law.
        </li>
        <li class="terms-text">
            The Borrower hereby confirm that the interest rate policy of the Lender is available on the website
            <a href="https://www.payufin.in" target="_blank">https://www.payufin.in</a> and the Borrower has read
            through the interest rate policy and has understood the same. The Borrower understands and acknowledges
            that the Lender shall declare and display the rate of interest (including any revisions in the rate of
            interest) on its website and the same shall be deemed to be a notice given to the Borrower. The Borrower
            hereby agrees that it shall be the Borrower's duty to keep himself/herself updated on any such changes
            or variations in the rate of interest by visiting the website of the Lender as specified above. The
            Borrower understands that the Lender may also, but shall not be obligated to, notify the Borrower of any
            change in the rate of interest. The Borrower agrees and acknowledges that such a revised rate of
            interest shall be applicable prospectively.
        </li>
        <li class="terms-text">
            The Borrower hereby confirms, understands, and acknowledges that the Lender in its sole and absolute
            discretion, shall be verifying Borrower’s know-your customer details (including the permanent address
            details) provided by the Borrower to the Lender under the Facility Documents, by way of issuing/sending
            an address verification letter on Borrower’s permanent address or the Lender shall be undertaking video
            KYC through video based customer identification process <span class="fw-bold">(V-CIP)</span> and/or
            Aadhar based OTP e-KYC <span class="fw-bold">(e-KYC)</span>
            confirmation or the Lender shall be verifying Borrower’s permanent address details through any other
            methods permitted as per the policy of the Lender or under Applicable Laws.
        </li>
        <li class="terms-text">
            In the case of V-CIP and/or e-KYC verification, the Borrower understands and acknowledges that the
            sanctioning of the Facility shall be subject to successful completion of the V-CIP and/or e-KYC
            verification as determined by the Lender in its sole discretion. In case of non-satisfactory V-CIP
            and/or e-KYC or non-completion of the same, the Borrower understands that the Facility shall not be
            sanctioned to the Borrower.
        </li>
        <li class="terms-text">
            The Borrower further understands that the verification process (other than through V-CIP and/or e-KYC)
            shall be completed on or before the 90th day from the date of acceptance and execution of the Facility
            Documents by the Borrower. In the event Borrower’s permanent address verification cannot be successfully
            completed/concluded by the Lender within the aforesaid time-period, for any reasons whatsoever,
            including due to delivery failure of the address verification letter issued by the Lender on Borrower
            permanent address, the same shall be construed as an Event of Default under the Facility Document and
            the Lender in its sole and absolute discretion shall have the right to recall or cancel or discontinue
            the Facility (either wholly or in part). Once the Lender has issued a communication to the Borrower
            regarding recalling or cancelling or discontinuation of the Facility as aforesaid, the Borrower
            irrevocably and unconditionally confirms and agrees that the Borrower shall, within 48 (forty-eight)
            hours of being so called upon, pay the whole of the Outstanding to the Lender without any delay or
            demur.
        </li>
        <li class="terms-text">
            All capitalized terms used but not specifically defined in this Application Form shall have their
            respective meanings ascribed to them in the Facility Documents.
        </li>
    </ol>

    <p class="common-text underline mb20">
        Acknowledgment and acceptance by the Borrower:
    </p>

    <p class="common-text" style="margin-bottom: 50px;">
        I have carefully read and understood the terms and conditions of this Application Form and would like to
        confirm my acceptance.
    </p>

    <div class="text-center center-box mb30">
            <span class="fw-bold">
                Confirm and Accepted
            </span>
    </div>

    <div class="mt30">
        <table id="repayment" border="1" cellspacing="0" class="m-auto mb60" style="page-break-inside: avoid !important">
            <tbody>
<!--            <tr class="width-100">-->
<!--                <td colspan="2" style="padding: 0px 5px; text-align: center" class="width-auto"> Table </td>-->
<!--            </tr>-->
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 6px 16px" class="fw400 text-left"> Mobile Number </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 6px 16px" class="fw400 text-left">
                        {{mobile_number_for_otp}}
                    </p>
                </td>
            </tr>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 6px 16px" class="fw400 text-left">IP Address</p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 6px 16px" class="fw400 text-left">
                        {{ip_address}}
                    </p>
                </td>
            </tr>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 6px 16px" class="fw400 text-left">Time Stamp</p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 6px 16px" class="fw400 text-left">
                        {{time_stamp}}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>

</html>