<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .fw400 {
            font-weight: 400;
        }

        .width-100 {
            width: 100%;
        }

        .word-wrap {
            overflow-wrap: anywhere;
        }

        .text-left {
            text-align: left;
        }

        .m-auto {
            margin: auto;
        }

        .mb20 {
            margin-bottom: 20px;
        }

        .width-auto {
            width: -moz-fit-content;
            width: fit-content;
        }
    </style>
</head>
<body>
<div style="padding: 20px 30px; margin-top: 50px">
    <table id="repayment" border="1" cellspacing="0" class="word-wrap m-auto mb20"
           style="table-layout: fixed;">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left"> OTP verified date & timestamp </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{otp_date_with_timestamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">DOB received in PAN is validated against KYC</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{dob}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left"> DOB_PAN_isMatch_KYC </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{pan_dob_match_kyc}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Aadharlinked_status_with_PAN</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{aadhar_linked_status_with_pan}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">KYC_name_match_score_Pennydrop</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{kyc_name_match_score_pennydrop}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">selfie match score with KYC_source</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{selfie_match_score}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">liveliness check score</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{liveliness_score}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">liveliness_check</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{liveliness_check}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>