<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Authorization Letter</title>
  <style>
    p {
        margin: 0;
    }

    .mb2 {
        margin-bottom: 10px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt16 {
        margin-top: 16px;
    }

    .content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1154.0" data-gr-ext-installed="">
<div style="padding:20px 30px;">
  <p style="text-align: center; font-size: 22px;">
    <strong
    ><u
    ><span>PAYMENT INSTRUCTION/AUTHORIZATION</span></u
    ></strong
    >
  </p>
  <p style="text-align: right;">
    <span>Date:{{date}} </span>
  </p>
  <p class="mt16">
      <span
      >Resilient Innovations Private Limited (<strong>RIPL/ Offline PA</strong
      >)</span
      >
  </p>
  <p>
    3rd Floor, Ramnath House, 18, Community
    <span class="SpellE">Center</span>,
  </p>
  <p>Opp. Jet Airways, Yusuf Sarai, New Delhi-110049</p>
  <p>
    <span>(acting as the offline payment aggregator)</span>
  </p>
  <p class="mt10">
      <span
      ><strong
      ><u
      >Sub: Deduction of Due Amounts from the Settlement Amount<br /><br /></u></strong
      >Dear Sir/ Ma'am,<br
      /></span>
  </p>
  <p class="mt10">
      <span>1.&nbsp;&nbsp;&nbsp;</span
      ><span
  >This is in reference to loan sanctioned to the undersigned by
        {{name_of_lender_nbfc}} (<strong>"Lender"</strong>) vide the {{loan_id}}
        (<strong>"Loan ID"</strong>).</span
  >
  </p>
  <p class="mt10">
      <span>2.&nbsp;&nbsp;&nbsp;</span
      ><span
  >Pursuant to the KFS, Sanction Letter and other loan documents ("<strong
  >Loan Documents</strong
  >") accepted by the undersigned, the undersigned have agreed to give an
        irrevocable, unconditional and express consent/authorization to the
        Offline PA to deduct the applicable installment amounts as per the
        agreed frequency and/or any other dues stated under the Loan Documents
        ("<strong>Due Amounts</strong>"). The Offline PA, shall upon receipt of
        such communication/information from the Lender, deduct the Due Amounts
        from the Settlement Amount and transfer such Due Amounts to the Lender's
        bank account against repayment of the loan availed by the undersigned
        vide the above-mentioned Loan ID.&nbsp;&nbsp;For clarification,
        Settlement Amount shall&nbsp;</span
  ><span
  >mean the total amount collected and payable (after adjustment of the
        applicable service charges) by the Offline PA to the Borrower on account
        of transactions carried out on UPI, POS machines and/or or such other
        product offerings made available to the Borrower through BharatPe
        app.</span
  >
  </p>
  <p class="mt10">
      <span>3.&nbsp;&nbsp;&nbsp;</span
      ><span
  >The undersigned hereby gives its irrevocable, unconditional, and
        express consent to the Offline PA to deduct the Due Amounts from the
        Settlement Amount as communicated by the Lender and/or its
        representatives and transfer such amounts to Lender's bank account as
        repayment for the loan availed by the undersigned vide the
        above-mentioned Loan ID.</span
  >
  </p>
  <p class="mt10">
      <span>4.&nbsp;&nbsp;&nbsp;</span
      ><span
  >The undersigned hereby irrevocably and unconditionally confirm that
        these instructions/authorization in favor of the Offline PA as mentioned
        above shall be irrevocable and shall not be revoked until the loan has
        been repaid in full to the satisfaction of the Lender.<br /><br
    /></span>
  </p>
  <p><span>Yours Sincerely,</span></p>
  <p>
      <span><br /></span
      ><span>{{borrower_name}} ("Borrower")</span>
  </p>
  <p><span>{{pan_of_borrower}}</span></p>
  <div class="content-center">
    <table
            class="mt16"
            style="height: 365px; width: 50%; text-align: left;"
            cellspacing="0"
            cellpadding="0"
            border="1"
    >
      <tbody>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">Borrower Name</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{borrower_name}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p><span lang="EN-US">&nbsp;Date</span></p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{date}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">Mobile No.</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{mobile_number_for_otp}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">Platform</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{platform}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">IP Address</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{ip_address}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">Time Stamp</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{time_stamp}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">Loan ID</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{loan_id}}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><span>&nbsp;</span></p>
  <p style="text-align: center; font-size: 22px;">
    <strong><u><span>പേയ്മെൻറ് നിർദ്ദേശം / അംഗീകാരം</span></u></strong>
  </p>
  <p style="text-align: right;">
    <span>തീയതി: {{date}} </span>
  </p>
  <p class="mt16">
    <span>റെസിലൻറ് ഇന്നൊവേഷൻസ് പ്രൈവറ്റ് ലിമിറ്റഡ് (<strong>ആർഐപിഎൽ / ഓഫ്‌ലൈൻ പിഎ</strong>)</span>
  </p>
  <p>
    മൂന്നാം നില, രാംനാഥ് ഹൌസ്, 18, കമ്മ്യൂണിറ്റി സെൻറ്റർ,
    <span class="SpellE">Center</span>,
  </p>
  <p>ജെറ്റ് എയർവേയ്‌സിന് എതിരെ, യൂസഫ് സരായ്, ന്യൂഡൽഹി-110049.</p>
  <p>
    <span>(ഓഫ്‌ലൈൻ പേയ്‌മെൻറ് അഗ്രഗേറ്ററായി പ്രവർത്തിക്കുന്നു)</span>
  </p>
  <p class="mt10">
            <span><strong><u>വിഷയം: സെറ്റിൽമെൻറ് തുകയിൽ നിന്ന് കുടിശ്ശിക തുക കുറയ്ക്കൽ. <br /><br /></u></strong>പ്രിയ
                സർ/ മാഡം,<br /></span>
  </p>
  <p class="mt10">
    <span>1.&nbsp;&nbsp;&nbsp;</span>
                {{loan_id}} (<strong>"വായ്പ ഐഡി"</strong>) വഴി {{name_of_lender_nbfc}} (<strong>"വായ്പ
                    കൊടുക്കുന്നയാൾ"</strong>) താഴെ ഒപ്പിട്ടിരിക്കുന്ന ആൾക്ക് നൽകിയ വായ്പയെ സൂചിപ്പിക്കുന്നു.
  </p>
  <p class="mt10">
    <span>2.&nbsp;&nbsp;&nbsp;</span>താഴെ ഒപ്പിട്ടവർ അംഗീകരിച്ച കെ എഫ് എസ്, അനുമതി കത്തും മറ്റ് ലോൺ
                ഡോക്യുമെൻറുകളും ("<strong>വായ്പ രേഖകൾ</strong>") അനുസരിച്ച്, ബാധകമായ ഗഡു തുകകൾ കുറയ്ക്കുന്നതിന് ഓഫ്‌ലൈൻ
                പിഎയ്ക്ക്
                പിൻവലിക്കാനാകാത്തതും നിരുപാധികവും പ്രകടിപ്പിക്കുന്നതുമായ സമ്മതം / അംഗീകാരം നൽകാൻ സമ്മതിച്ചു. സമ്മതിച്ച
                ആവൃത്തി കൂടാതെ / അല്ലെങ്കിൽ ലോൺ ഡോക്യുമെൻറുകൾക്ക് (<strong>"കുടിശ്ശിക തുകകൾ"</strong>) കീഴിൽ
                പറഞ്ഞിരിക്കുന്ന
                മറ്റേതെങ്കിലും കുടിശ്ശിക പ്രകാരം. ഓഫ്‌ലൈൻ പിഎ, കടം കൊടുക്കുന്നയാളിൽ നിന്ന് അത്തരം ആശയവിനിമയം / വിവരങ്ങൾ
                ലഭിക്കുമ്പോൾ, സെറ്റിൽമെൻറ് തുകയിൽ നിന്ന് കുടിശ്ശിക തുക കണ്ടെത്തുകയും മുകളിൽ സൂചിപ്പിച്ച ലോൺ ഐഡി മുഖേന
                താഴെ ഒപ്പിട്ടിരിക്കുന്ന ആളുടെ വായ്പയുടെ തിരിച്ചടവിനെതിരെ വായ്പ നൽകുന്നയാളുടെ ബാങ്ക് അക്കൗണ്ടിലേക്ക്
                അത്തരം തുക കൈമാറുകയും ചെയ്യും. വ്യക്തതയ്ക്കായി, സെറ്റിൽമെൻറ് തുക അർത്ഥമാക്കുന്നത് ശേഖരിച്ചതും
                നൽകേണ്ടതുമായ മൊത്തം തുകയാണ് (ബാധകമായ സേവന നിരക്കുകൾ ക്രമീകരിച്ചതിന് ശേഷം). UPI, POS മെഷീനുകൾ
                കൂടാതെ/അല്ലെങ്കിൽ ഭാരത്‌പേ ആപ്പ് വഴി കടം വാങ്ങുന്നയാൾക്ക് ലഭ്യമായ മറ്റ് ഉൽപ്പന്ന ഓഫറുകൾ എന്നിവയിൽ
                നടത്തിയ ഇടപാടുകളുടെ അടിസ്ഥാനത്തിൽ ഓഫ്‌ലൈൻ പിഎ വായ്പക്കാരന് നൽകുന്നു.
  </p>
  <p class="mt10">
    <span>3.&nbsp;&nbsp;&nbsp;</span><span>കടം കൊടുക്കുന്നയാൾ/അല്ലെങ്കിൽ പ്രതിനിധി ആശയവിനിമയത്തിലൂടെ
                അറിയിക്കുന്ന സെറ്റിൽമെൻറ് തുകയിൽ നിന്ന് അടയ്‌ക്കേണ്ട തുകകൾ കണ്ടെത്തുന്നതിന് ഓഫ്‌ലൈൻ പിഎയ്ക്ക്
                നിരുപാധികവും, മാറ്റാനാകാത്തതുമായ സമ്മതം ഇതിനാൽ താഴെ ഒപ്പിട്ടത് നൽകുന്നു. കൂടാതെ/അല്ലെങ്കിൽ അതിൻറെ
                പ്രതിനിധികൾ മുകളിൽ പറഞ്ഞിരിക്കുന്ന ലോൺ ഐഡി മുഖേന താഴെ ഒപ്പിട്ടിരിക്കുന്ന ആളുടെ ലോണിൻറെ തിരിച്ചടവായി
                അത്തരം തുകകൾ ലെൻഡറുടെ ബാങ്ക് അക്കൗണ്ടിലേക്ക് ട്രാൻസ്ഫർ ചെയ്യുന്നതാണ്.</span>
  </p>
  <p class="mt10">
    <span>4.&nbsp;&nbsp;&nbsp;</span><span>മുകളിൽ സൂചിപ്പിച്ചതുപോലെ ഓഫ്‌ലൈൻ പിഎയ്ക്ക് അനുകൂലമായ ഈ
                നിർദ്ദേശങ്ങൾ/അംഗീകാരങ്ങൾ പിൻവലിക്കാനാകാത്തതാണെന്നും കടം കൊടുക്കുന്നയാളെ തൃപ്തിപ്പെടുത്തുന്ന തരത്തിൽ ലോൺ
                പൂർണ്ണമായി തിരിച്ചടയ്ക്കുന്നത് വരെ അസാധുവാക്കപ്പെടില്ലെന്നും താഴെ ഒപ്പിട്ടയാൾ പിൻവലിക്കാനാകാത്തവണ്ണവും
                നിരുപാധികവുമായി സ്ഥിരീകരിക്കുന്നു.<br /><br /></span>
  </p>
  <p><span>യുവേഴ്സ് സിൻസിയ൪ലി,</span></p>
  <p>
    <span><br /></span><span>{{borrower_name}} ("കടം വാങ്ങുന്നയാൾ")</span>
  </p>
  <p><span>{{pan_of_borrower}}</span></p>
  <div class="content-center">
    <table class="mt16" style="height: 365px; width: 50%; text-align: left;" cellspacing="0" cellpadding="0"
           border="1">
      <tbody>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">കടം വാങ്ങുന്നയാളുടെ പേര്</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{borrower_name}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p><span lang="EN-US">&nbsp;തീയതി</span></p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{date}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">മൊബൈൽ നമ്പർ.</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{mobile_number_for_otp}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">പ്ലാറ്റ്ഫോം</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{platform}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">ഐപി വിലാസം</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{ip_address}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">സമയ സ്റ്റാമ്പ്</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{time_stamp}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 49.851%" valign="top" width="165">
          <p>
            <span lang="EN-US">വായ്പ ഐഡി</span>
          </p>
        </td>
        <td style="width: 50.1513%" valign="top" width="165">
          <p>&nbsp;{{loan_id}}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><span>&nbsp;</span></p>
</div>
</body>

</html>