<!DOCTYPE html>
<html>

<head>
    <title>KFS Non P2P Lender</title>
    <meta charset="UTF-8">
    <style>
        .fw400 {
            font-weight: 400;
        }

        .width-100 {
            width: 100%;
        }

        .fw600 {
            font-weight: 600;
        }

        .width-33 {
            width: 33%;
        }

        .width-66 {
            width: 66%;
        }

        .word-wrap {
            overflow-wrap: anywhere;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .underline {
            text-decoration: underline;
        }

        .m-auto {
            margin: auto;
        }

        .mb10 {
            margin-bottom: 10px;
        }

        .mb20 {
            margin-bottom: 20px;
        }

        .mb30 {
            margin-bottom: 20px;
        }

        .mb40 {
            margin-bottom: 40px;
        }

        .mb50 {
            margin-bottom: 50px;
        }

        .width-auto {
            width: -moz-fit-content;
            width: fit-content;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>

<body>
<div style="padding: 20px 30px; margin-top: 50px">
    {{lender_logo}}
    <h2 class="text-center">
        <span class="underline">KEY FACTS STATEMENT</span>
    </h2>
    <p style="margin: 6px 16px" class="fw400">
        This Key Fact Sheet (“KFS”) is applicable on the term loan facility
        applied by the Borrower through “BharatPe” app:
    </p>
    <table border="1" cellspacing="0" class="width-100 mb20">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Borrower</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{address_of_borrower}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{email_of_borrower}} {{phone_number_of_borrower}}</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Lender</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_lender_nbfc}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_nbfc}} {{lender_tag}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{colender_text}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Loan ID</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Purpose of Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Personal use
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Nature of the Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">Term Loan</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Lending Service Provider (LSP)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span> Digital Lending Application (DLA)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Mobile based platform “BharatPe” </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Loan Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{loan_amount_in_figure}} (Rupees {{loan_amount_in_words}}
                    Only)
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">Other Upfront Charges</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Processing Fees
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{processing_percentage}}% of the Loan Amount + applicable
                    taxes.
                    <span class="bold">
                                (i.e. Rs. {{processing_fee_includes_tax}}/- (Rupees
                                {{processing_fee_in_words_includes_tax}} Only)</span>
                    & Shall be deducted from disbursement amount.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    The Processing Fees is a one-time fee.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    * In the event that the loan is foreclosed by the Borrower
                    during the Cooling Off Period, 0% of the Processing Fees shall
                    be refunded back to the Borrower
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Insurance charges (if any)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Other Charges (if any)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">
                Other details related to loan
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Net Disbursed Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{loan_amount_disbursed}}/- (Rupees
                    {{loan_amount_disbursed_in_words}} Only)
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *Interest will be applicable on the Loan Amount as communicated
                    above
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Interest Rate (%) (applied on a simple interest basis)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{rate_of_interest}}% per month</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Annualized Percentage Rate
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{apr}}% per annum </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Total Interest charged during the Tenure of the Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{interest_charged_to_borrower}}/- (Rupees
                    {{interest_charged_to_borrower_in_words}} Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Total Amount to be paid by the Borrower during the Tenure (along
                    with interest & processing fees)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure}}/-
                    (Rupees
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure_in_words}}
                    Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Repayment Mode
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    •  Deduction of amount Instalment Amount or any other dues as per
                    the Loan Documents from the daily Settlement Amount** as per the
                    instructions of the Borrower to Resilient Innovations Private
                    Limited (offline payment aggregator of the Borrower) (
                    <span>“Offline PA”</span>).
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *Borrower hereby expressly, unconditionally and irrevocably
                    authorizes the Offline PA to make deduction of Instalment Amount
                    and other dues as per the Loan Documents & make payment directly
                    to the Lender .
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    **Settlement Amount shall have the meaning defined under the
                    Loan Documents.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Instalment Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{interest_equal_daily}}/- (Rupees
                    {{interest_equal_daily_in_words}} Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Repayment/Instalment Frequency
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">Daily</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Number of Instalments
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{no_of_edis}} equal daily instalments (Please refer to
                    Repayment Schedule attached)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Tenor</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{tenure_of_loan_in_months}} months
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">Details about Contingent Charges</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Penal Charges</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">NA</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Rate of annualized penal charges (if any)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span class="bold">
                                Rate of annualized other penal charges (if any); (details to
                                be provided)
                            </span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Pre-Payment/Part-Payment/Foreclosure</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Foreclosure is allowed with no charges</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">Other Disclosures</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Cooling Off Period</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{cooling_off_days}} days from the disbursal of the Loan
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                            <span>*Please note proportionate interest & other charges including
                                processing fees (other than pre-payment/foreclosure charges)
                                will be levied during the Cooling Off period.
                            </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 8px" class="width-33"></td>
            <td style="padding: 8px" class="width-66 word-wrap"></td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Recovery Agent</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                            <span>*Please note that Recovery Agent (and/or its authorized
                                representatives/entities) has been authorized by the Lender to
                                contact for default in repayments. Kindly make payment on or
                                before Due Date</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Recovery Mechanism</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    In case of non-payment of the loan amount, interest, and other
                    charges as per the terms of the loan documents, the Lender or
                    its authorized service provider(s) may approach the borrower, co
                    borrower, and guarantor for the payment of the outstanding
                    amount, by way of call(s), SMS(s), email(s), and in person
                    visit(s). Notwithstanding anything mentioned hereinabove, in the
                    event of non-receipt of the loan amount and other charges, the
                    Lender may resort to legal recourse.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Grievance Redressal</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">For Lender</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">{{name_of_nodal_officer}}</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span>
                                <span class="">{{email_id}} ; {{conatct_no}} ; {{grievance_time}}</span>
                            </span>
                </p>
                <br />
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">For LSP</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Name: Ankit Parnami
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Email: nodalofficer@bharatpemoney.com
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Working hours: Monday to Friday from 10:00 a.m to 7:00 pm
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Website:
                    <a href="https://www.bharatpemoney.com/" target="_blank">
                        <em>bharatpemoney.com</em>
                    </a>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Privacy Policy:
                    <a href="https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
_-For-RTPL-1.docx-1.pdf" target="_blank">https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
                        _-For-RTPL-1.docx-1.pdf</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="margin: 6px 16px" class="fw400 mb20">
        *For more detailed information, please refer to the Sanction Letter &
        Loan Agreement for the loan facility. This Key Fact Statement needs to
        be read along with the Sanction Letter & Loan Agreement.
    </p>


    <!-- repayment section -->
    <div style="page-break-inside: avoid !important">
        <h3 class="text-center">
            <span class="underline">Repayment Schedule</span>
        </h3>
        <table border="1" cellspacing="0" class="width-100 m-auto mb20" style="table-layout: fixed">
            <tbody>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Instalment No.</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Outstanding Principal (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Principal (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Interest (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Instalment (in INR)</strong>
                    </p>
                </td>
            </tr>
            {{repayment_schedule}}
            </tbody>
        </table>
    </div>
    <table id="repayment" border="1" cellspacing="0" class="m-auto mb20"
           style="page-break-inside: avoid !important">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Borrower Name
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Date</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{date}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Mobile No. for OTP
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Platform</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{platform}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">IP Address</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{ip_address}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Time Stamp</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{time_stamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Loan ID</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>


    <!-- malayalm language -->
    <div style="margin-top: 50px">{{lender_logo}}</div>
    <h2 class="text-center">
        <span class="underline">പ്രധാന വസ്തുക്കളെ കുറിച്ചുള്ള പ്രസ്താവന</span>
    </h2>
    <p style="margin: 6px 16px" class="fw400">
        "BharatPe" ആപ്പ് വഴി കടം വാങ്ങുന്നയാൾ അപേക്ഷിക്കുന്ന ടേം വായ്പ സൗകര്യത്തിന് ഈ പ്രധാന വസ്തുത ഷീറ്റ് ("KFS")
        ബാധകമാണ്:
    </p>
    <table border="1" cellspacing="0" class="width-100 mb20">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">വായ്പ്പക്കാരൻ</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{address_of_borrower}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{email_of_borrower}} {{phone_number_of_borrower}}</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">വായ്പ്പാദാതാവ്</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_lender_nbfc}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_nbfc}} {{lender_tag}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{colender_text}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">വായ്പ ഐഡി </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വായ്പയുടെ ഉദ്ദേശ്യം
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വ്യക്തിഗത ഉപയോഗം
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വായ്പയുടെ സ്വഭാവം
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">ടേം വായ്പ</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span> വായ്പാ സേവന ദാതാവ് (LSP)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>റെസിലൻറ് ഡിജി സർവീസസ് പ്രൈവറ്റ് ലിമിറ്റഡ്</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>ഡിജിറ്റൽ ലെൻഡിംഗ് ആപ്ലിക്കേഷൻ (DLA)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>മൊബൈൽ അധിഷ്ഠിത പ്ലാറ്റ്ഫോം "ഭാരത്പേ"</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വായ്പാ തുക
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രൂപ. {{loan_amount_in_figure}} (രൂപ {{loan_amount_in_words}}
                    മാത്രം)
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">മറ്റ് മുൻകൂർ ചാർജുകൾ</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    പ്രോസസ്സിംഗ് ഫീസ്
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{processing_percentage}}% ലോൺ തുകയുടെ + ബാധകമായ നികുതികൾ.
                    <span class="bold">
                                (i.e. രൂപ. {{processing_fee_includes_tax}}/- (രൂപ
                                {{processing_fee_in_words_includes_tax}} മാത്രം)</span>
                    & വിതരണ തുകയിൽ നിന്ന് കുറയ്ക്കു.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രോസസ്സിംഗ് ഫീസ് ഒറ്റത്തവണ ഫീസ് ആണ്.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *കൂളിംഗ് ഓഫ് കാലയളവിൽ വായ്പയെടുക്കുന്നയാൾ വായ്പ മുൻകൂട്ടി ക്ലോസെ ചെയ്യുന്ന സാഹചര്യത്തിൽ,
                    പ്രോസസ്സിംഗ് ഫീസിൻറെ 0% വായ്പക്കാരന് തിരികെ നൽകും.
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ഇൻഷുറൻസ് നിരക്കുകൾ (എന്തെങ്കിലും ഉണ്ടെങ്കിൽ)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    മറ്റ് നിരക്കുകൾ (എന്തെങ്കിലും ഉണ്ടെങ്കിൽ)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">
                വായ്പയുമായി ബന്ധപ്പെട്ട മറ്റ് വിശദാംശങ്ങൾ
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    അറ്റ വിതരണം ചെയ്ത തുക.
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രൂപ. {{loan_amount_disbursed}}/- (രൂപ
                    {{loan_amount_disbursed_in_words}} മാത്രം)
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    * മുകളിൽ അറിയിച്ചത് പോലെ വായ്പ തുകയ്ക്ക് പലിശ ബാധകമായിരിക്കും
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    പലിശ നിരക്ക് (%) (ലളിതമായ പലിശ അടിസ്ഥാനത്തിൽ പ്രയോഗിക്കുന്നു)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{rate_of_interest}}% മാസം തോറും</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വാർഷിക ശതമാനം നിരക്ക്
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{apr}}% പ്രതിവർഷം </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വായ്പാ കാലയളവിൽ ഈടാക്കുന്ന മൊത്തം പലിശ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രൂപ. {{interest_charged_to_borrower}}/- (രൂപ
                    {{interest_charged_to_borrower_in_words}} മാത്രം)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    കാലാവധിക്കുള്ളിൽകടം വാങ്ങുന്നയാൾ അടയ്ക്കേണ്ട ആകെ തുക (പലിശയും പ്രോസസ്സിംഗ് ഫീസും സഹിതം)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രൂപ
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure}}/-
                    (രൂപ
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure_in_words}}
                    മാത്രം)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    തിരിച്ചടവ് രീതി
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    • റീസിലൻറ് ഇന്നൊവേഷൻസ് പ്രൈവറ്റ് ലിമിറ്റഡ് (വായ്പ എടുക്കുന്നയാളുടെ ഓഫ്‌ലൈൻ പേയ്‌മെൻറ്
                    അഗ്രഗേറ്റർ) (<span>"ഓഫ്‌ലൈൻ PA"</span>) ലേക്ക് കടം വാങ്ങുന്നയാളുടെ നിർദ്ദേശങ്ങൾ അനുസരിച്ച്
                    പ്രതിദിന
                    സെറ്റിൽമെൻറ് തുകയിൽ നിന്ന് ലോൺ ഡോക്യുമെൻറുകൾ പ്രകാരം തുക ,തവണ തുക അല്ലെങ്കിൽ മറ്റേതെങ്കിലും
                    കുടിശ്ശിക കുറയ്ക്കൽ.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *വായ്പ എടുക്കുന്നയാൾ ഇതിനാൽ, വായ്പ ഡോക്യുമെൻറുകൾ പ്രകാരം ഇൻസ്‌റ്റാൾമെൻറ് തുകയും മറ്റ്
                    കുടിശ്ശികകളും കിഴിവ് നടത്താനും വായ്പ ദാതാവിനു നേരിട്ട് പണമടയ്ക്കാനും ഓഫ്‌ലൈൻ PAയെ
                    വ്യക്തമായും നിരുപാധികമായും മാറ്റാനാകാത്തവിധം അധികാരപ്പെടുത്തുന്നു.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ** സെറ്റിൽമെൻറ് തുകയ്ക്ക് ലോൺ ഡോക്യുമെൻറുകൾക്ക് കീഴിൽ നിർവചിച്ചിരിക്കുന്ന അർത്ഥം
                    ഉണ്ടായിരിക്കും.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    തവണ തുക
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രൂപ. {{interest_equal_daily}}/- (രൂപ
                    {{interest_equal_daily_in_words}} മാത്രം)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    തിരിച്ചടവ്/തവണ ആവൃത്തി
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">ദിവസേന</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    തവണകളുടെ എണ്ണം
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{no_of_edis}} തുല്യ പ്രതിദിന തവണകൾ (ദയവായി തിരിച്ചടവ് ഷെഡ്യൂൾ കൂട്ടിച്ചേർക്കുക )
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">കാലയളവ്</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{tenure_of_loan_in_months}} മാസങ്ങൾ
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">കണ്ടിജൻ്റ് ചാർജിൻറെ വിശദാംശങ്ങൾ</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">പിഴ നിരക്കുകൾ </span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">NA</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">വാർഷിക പിഴ ചാർജുകളുടെ നിരക്ക് (എന്തെങ്കിലും ഉണ്ടെങ്കിൽ)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span class="bold">
                                വാർഷിക മറ്റ് നിരക്ക് പിഴ ചുമത്തലുകൾ (എന്തെങ്കിലും ഉണ്ടെങ്കിൽ); (വിശദാംശങ്ങൾ നൽകണം)
                            </span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>പ്രീ-പേയ്‌മെൻറ്/പാർട്ട് പേയ്‌മെൻറ്/ഫോർക്ലോഷർ</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">മറ്റ് വെളിപ്പെടുത്തലുകൾ</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">കൂളിംഗ് ഓഫ് പിരീഡ്</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വായ്പ  വിതരണത്തിനു ശേഷം {{cooling_off_days}} ദിവസങ്ങൾ
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                            <span>*ദയവായി ശ്രദ്ധിക്കുക ആനുപാതികമായ പലിശയും പ്രോസസ്സിംഗ് ഫീസും (പ്രീ-പേയ്‌മെൻറ്/ഫോർക്ലോഷർ
                                ചാർജുകൾ ഒഴികെ) ഉൾപ്പെടെയുള്ള മറ്റ് ചാർജുകളും കൂളിംഗ് ഓഫ് കാലയളവിൽ ഈടാക്കും.
                            </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 8px" class="width-33"></td>
            <td style="padding: 8px" class="width-66 word-wrap"></td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">റിക്കവറി ഏജൻറ്</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                    <span>റെസിലൻ്റ് ഡിജി സർവീസസ് പ്രൈവറ്റ് ലിമിറ്റഡ്</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                            <span>*തിരിച്ചടവുകളിൽ ഡിഫോൾട്ടായി ബന്ധപ്പെടാൻ റിക്കവറി ഏജൻറിനെ (ഒപ്പം/അല്ലെങ്കിൽ അതിൻറെ
                                അംഗീകൃത പ്രതിനിധികൾ/എൻറിറ്റികൾ) ലെൻഡർ അധികാരപ്പെടുത്തിയിട്ടുണ്ടെന്ന കാര്യം ശ്രദ്ധിക്കുക.
                                നിശ്ചിത തീയതിയിലോ അതിന് മുമ്പോ ദയവായി പണമടക്കാൻ ശ്രദ്ധിക്കുക</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">വീണ്ടെടുക്കൽ സംവിധാനം</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വായ്പ രേഖകളുടെ നിബന്ധനകൾ പ്രകാരമുള്ള വായ്പ തുക, പലിശ, മറ്റ് ചാർജുകൾ എന്നിവ അടയ്‌ക്കാത്ത
                    സാഹചര്യത്തിൽ, കടം കൊടുക്കുന്നയാൾ അല്ലെങ്കിൽ അതിൻറെ അംഗീകൃത സേവന ദാതാവ് (കൾ) കടം
                    വാങ്ങുന്നയാൾ, സഹവായ്പക്കാരൻ, ഗ്യാരൻറർ എന്നിവരെ സമീപിച്ചേക്കാം. കോൾ(കൾ), എസ്എംഎസ്(കൾ),
                    ഇമെയിൽ(കൾ), നേരിട്ടുള്ള സന്ദർശനം(കൾ) വഴി കുടിശ്ശികയുള്ള തുക, ഇവിടെ പരാമർശിച്ചിരിക്കുന്ന
                    എന്തുതന്നെയായാലും, വായ്പ തുകയും മറ്റ് ചാർജുകളും ലഭിക്കാത്ത സാഹചര്യത്തിൽ, കടം കൊടുക്കുന്നയാൾ
                    നിയമപരമായ മാർഗം അവലംബിച്ചേക്കാം.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">പരാതിപരിഹാരം</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">കടം കൊടുക്കുന്നയാൾക്ക്</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">{{name_of_nodal_officer}}</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                            <span>
                                <span class="">{{email_id}} ; {{conatct_no}} ; {{grievance_time}}</span>
                            </span>
                </p>
                <br />
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">LSP  ക്കു വേണ്ടി</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    പേര്:  അങ്കിത് പ൪ണമി
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ഇമെയിൽ: nodalofficer@bharatpemoney.com
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ജോലിചെയ്യുന്ന സമയം: തിങ്കൾ മുതൽ വെള്ളി വരെ 10:00 a.m മുതൽ 7:00 pm
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    വെബ് സൈറ്റ് :
                    <a href="https://www.bharatpemoney.com/" target="_blank">
                        <em>bharatpemoney.com</em>
                    </a>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    രഹസ്യാത്മകത:
                    <a href="https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
_-For-RTPL-1.docx-1.pdf" target="_blank">https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
                        _-For-RTPL-1.docx-1.pdf</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="margin: 6px 16px" class="fw400 mb20">
        **കൂടുതൽ വിശദമായ വിവരങ്ങൾക്ക്, വായ്പ സൗകര്യത്തിനായുള്ള അനുമതി പത്രവും വായ്പ കരാറും പരിശോധിക്കുക. അനുമതി
        പത്രവും വായ്പ കരാറും സഹിതം ഈ പ്രധാന വസ്തുതാ പ്രസ്താവന വായിക്കേണ്ടതാണ് .
    </p>



    <!-- repayment section -->
    <div style="page-break-inside: avoid !important">
        <h3 class="text-center">
            <span class="underline">തിരിച്ചടവ് ഷെഡ്യൂൾ</span>
        </h3>
        <table border="1" cellspacing="0" class="width-100 m-auto mb20" style="table-layout: fixed">
            <tbody>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>ഗഡു നമ്പർ.</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>മികച്ച പ്രിൻസിപ്പൽ (INR ൽ)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>പ്രിൻസിപ്പൽ (INR-ൽ)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>പലിശ (INR ൽ)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>ഗഡു (INR ൽ)</strong>
                    </p>
                </td>
            </tr>
            {{repayment_schedule}}
            </tbody>
        </table>
    </div>
    <table border="1" cellspacing="0" class="m-auto mb20"
           style="page-break-inside: avoid !important">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    കടം വാങ്ങുന്നയാളുടെ പേര്
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">തീയതി</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{date}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    മൊബൈൽ നമ്പർ.
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">പ്ലാറ്റ്ഫോം</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{platform}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">ഐപി വിലാസം</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{ip_address}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">സമയ സ്റ്റാമ്പ്</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{time_stamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">വായ്പ ഐഡി</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>