<!DOCTYPE html>
<html>
<head>
    <title>KFS Non P2P Lender</title>
    <style>
      .fw400 {
        font-weight: 400;
      }

      .width-100 {
        width: 100%;
      }

      .width-33 {
        width: 33%;
      }

      .width-66 {
        width: 66%;
      }

      .word-wrap {
        overflow-wrap: anywhere;
      }

      .text-left {
        text-align: left;
      }

      .text-center {
        text-align: center;
      }

      .text-right {
        text-align: right
      }

      .underline {
        text-decoration: underline;
      }

      .m-auto {
        margin: auto;
      }

      .mb10 {
        margin-bottom: 10px;
      }

      .mb20 {
        margin-bottom: 20px;
      }

      .mb30 {
        margin-bottom: 20px;
      }

      .mb40 {
        margin-bottom: 40px;
      }

      .mb50 {
        margin-bottom: 50px;
      }

      .width-auto {
        width: -moz-fit-content;
        width: fit-content;
      }

      .bold {
        font-weight: bold;
      }
    </style>
</head>
<body>
<div style="padding: 20px 30px; margin-top: 50px; margin-bottom: 50px">
    <div class="width-100 text-right mb50">{{lender_logo}}</div>
    <h2 class="text-center">
        <span class="underline">KEY FACTS STATEMENT</span>
    </h2>
    <p style="margin: 6px 16px" class="fw400"> This Key Fact Sheet (“KFS”) is applicable on the limit-based loan facility applied by the Borrower through “BharatPe” app: </p>
    <table border="1" cellspacing="0" class="width-100 mb20">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Lender </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Capri Global Capital Limited. </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> Reg Off : 502, Tower-A, Peninsula Business Park, </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> Senapati Bapat Marg, Lower Parel, </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> Mumbai-400 013 </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Lending Service Provider (LSP) </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Digital Lending Application (DLA) </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Mobile based platform “ <span>BharatPe</span>” </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Loan Amount </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Rs. {{loan_amount_in_figure}} - (Rupees {{loan_amount_in_words}} Only) </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px;" class="text-start width-100">
            <td colspan="2" class="fw600">Other Upfront Charges</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Processing Fees </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    {{processing_percentage_without_gst}} % of the Loan Amount + applicable taxes. (i.e. Rs. {{processing_fee_includes_tax}}/- (Rupees {{processing_fee_in_words_includes_tax}} Only) & shall be deducted from disbursement amount.
                </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> The Processing Fees is a one-time fee and shall be deducted from disbursement amount. </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> * In the event that the loan is foreclosed by the Borrower during the Cooling Off Period, 0% of the Processing Fees shall be refunded back to the Borrower. </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">Insurance charges (if any)</p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Nil</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">Other Charges (if any)</p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Nil</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px;" class="text-start width-100">
            <td colspan="2" class="fw600">Other details related to loan</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Net Disbursed Amount </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Rs. {{loan_amount_disbursed}}/- (Rupees {{loan_amount_disbursed_in_words}} Only) </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> *Interest will be applicable on the Loan Amount as communicated above </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Interest Rate (%) (annually applied on reducing balance) </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    {{annual_roi}} % per annum
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Annual Percentage Rate (APR)</span>
                </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>({{apr}} % per annum)</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Total Interest charged during the Tenure of the Loan </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Rs. {{interest_charged_to_borrower}}/- (Rupees {{interest_charged_to_borrower_in_words}} Only) </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Total Amount to be paid by the Borrower during the Tenure (along with interest & processing fees) </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Rs {{total_amount_including_interest_paid_by_borrower_entire_tenure}} /- (Rupees {{total_amount_including_interest_paid_by_borrower_entire_tenure_in_words}} Only) </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Repayment Mode </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Deduction of amount Instalment Amount or any other dues as per the Loan Documents from the daily Settlement Amount** as per the instructions of the Borrower to Resilient Digi Services Private Limited (offline payment aggregator of the Borrower) <span>(“Offline PA”)</span>
                </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> *Borrower hereby expressly, unconditionally and irrevocably authorizes the Offline PA to make such deduction of Instalment Amount and other dues as per the Loan Documents & make payment directly to the Lender </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> **Settlement Amount shall have the meaning defined under the Sanction Letter and Loan Agreement. </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Instalment Amount </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Rs. {{interest_equal_daily}} /- (Rupees {{interest_equal_daily_in_words}} Only) </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Repayment/Instalment Frequency </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Daily </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Number of Instalments </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    {{no_of_edis}} equal daily instalments (Please refer to Repayment Schedule attached)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Tenor </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    {{tenure_of_loan_in_months}} months
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px;" class="text-left width-100">
            <td colspan="2" class="fw600">Details about Contingent Charges</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Penal Charges</span>
                </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                <p style="margin: 6px 16px;">In the event the Borrower fails to make payment of {{edi_days}} equal daily instalments, (as per the repayment schedule), a Penal Charge shall be levied in the following manner: </p>
                <table border="1" cellspacing="0" style="margin: 6px 16px;">
                    <tr class="width-100">
                        <td class="width-50 bold">Outstanding Amount</td>
                        <td class="width-50 bold">Late Payment Charges (In Rs.)</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Up to Rs. {{outstanding_amount_1}}</td>
                        <td class="width-50">{{penal_charges_1}}</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Rs. {{outstanding_amount_min_2}} - {{outstanding_amount_max_2}}</td>
                        <td class="width-50">{{penal_charges_2}}</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Rs. {{outstanding_amount_min_3}} - {{outstanding_amount_max_3}}</td>
                        <td class="width-50">{{penal_charges_3}}</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Rs. {{outstanding_amount_min_4}} - {{outstanding_amount_max_4}}</td>
                        <td class="width-50">{{penal_charges_4}}</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Rs. {{outstanding_amount_min_5}} - {{outstanding_amount_max_5}}</td>
                        <td class="width-50">{{penal_charges_5}}</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Rs. {{outstanding_amount_min_6}} - {{outstanding_amount_max_6}}</td>
                        <td class="width-50">{{penal_charges_6}}</td>
                    </tr>
                    <tr class="width-100">
                        <td class="width-50">Rs. {{outstanding_amount_min_7}} - {{outstanding_amount_max_7}}</td>
                        <td class="width-50">{{penal_charges_7}}</td>
                    </tr>
                </table>
                <p style="margin: 6px 16px;" class="bold">The Late Payment Charges shall be levied on a monthly basis as per the above grid.</p>
                <p style="margin: 6px 16px;">* The Lender reserves the right to amend/modify the Penal Charges in its sole discretion. Any such change will be notified to the Borrower in accordance with the Loan Agreement. </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Rate of annualized penal charges (if any) </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> Example: Borrower has taken a loan of Rs 1,00,000 for 12 months at 1.59% interest rate; EDI will be Rs 331 and effective APR will be 47.04% </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> If the borrower does not pay EDI continuously for 7 days, a sum of Rs 2,317 (331*7) is overdue from the customer. As per the penal charges grid, late payment charges of Rs 250 (inclusive of GST) will get levied to the borrower as overdue amount is between Rs 1,000 - Rs 5,000. The next penalty can only be levied after 30 days if borrower at that time has 7 or more EDIs overdue. </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> Case 1: If borrower paid only one penalty charge during its loan tenure, effective APR for the loan will be 47.58% </p>
                <p style="margin: 6px 16px;" class="fw400 text-left"> Case 2: If borrower paid two penalty charges during its loan tenure, effective APR for the loan will be 47.93% </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Pre-Payment/Part-Payment/Foreclosure</span>
                </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Nil</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px;" class="text-center width-100">
            <td colspan="2" class="fw600 bold">Other Disclosures</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Cooling Off Period</span>
                </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left"> 3 days from the disbursal of the Loan </p>
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>*Please note proportionate interest & other charges including the processing fees (other than pre-payment/foreclosure charges) will be levied during the Cooling Off period. </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Recovery Agent</span>
                </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>*Please note that Recovery Agent (and/or its authorized representatives/entities) has been authorized by the Borrower to contact for default in repayments. Kindly make payment on or before Due Date.</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px;" class="width-33">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span>Grievance Redressal</span>
                </p>
            </td>
            <td style="padding: 0px 5px;" class="width-66 word-wrap">
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span class="underline bold">For Lender</span>
                </p>
                <p style="margin: 2px 16px;" class="fw400 text-left"> {{name_of_nodal_officer}} </p>
                <p style="margin: 2px 16px;" class="fw400 text-left">Principal Nodal Officer</p>
                <p style="margin: 2px 16px;" class="fw400 text-left">502, Tower - A, Peninsula Business Park,</p>
                <p style="margin: 2px 16px;" class="fw400 text-left">Senapati Bapat Marg, Lower Parel,</p>
                <p style="margin: 2px 16px;" class="fw400 text-left">Mumbai – 400013</p>
                <p style="margin: 2px 16px;" class="fw400 text-left">Landline - {{conatct_no}}</p>
                <p style="margin: 2px 16px;" class="fw400 text-left">Email - <a target="_blank" href="mailto:{{email_id}}">
                    <em>{{email_id}}</em>
                </a>
                </p>
                <br />
                <p style="margin: 6px 16px;" class="fw400 text-left">
                    <span class="underline bold">For LSP</span>
                </p>
                <p style="margin: 2px 16px;" class="fw400 text-left"> Mallika Janardhan </p>
                <p style="margin: 2px 16px;" class="fw400 text-left"> Email: <a target="_blank" href="mailto:data.get('nodalofficer@bharatpemoney.com')">nodalofficer@bharatpemoney.com</a>
                </p>
                <p style="margin: 2px 16px;" class="fw400 text-left"> Working hours: Monday to Friday from 10:00 am to 7:00 pm </p>
                <p style="margin: 2px 16px;" class="fw400 text-left">Website: bharatpemoney.com</p>
                <p style="margin: 6px 16px;" class="fw400 text-left">
                <span class>If compliant remains unresolved for 30 days, the Borrower may escalate to RBI Complaints portal at <a target="_blank" href="https://cms.rbi.org.in/" class="underline">
                    <em>https://cms.rbi.org.in/</em>
                  </a>
                </span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="margin: 6px 16px" class="fw400 mb20"> *For more detailed information, please refer to the Sanction Letter & Loan Agreement for the loan facility. This Key Fact Statement needs to be read along with the Sanction Letter & Loan Agreement. </p>
    <p style="margin: 6px 16px" class="fw400 mb20">The Borrower hereby acknowledge that Lender has delegated its certain administrative and functional rights to BharatPe in relation to the credit facilities/Loan provided by the Lender to the Borrower. The Borrower hereby give their free and full express consent to contact/approach to them by BharatPe to complete its obligation specifically mentioned in the agreements executed between Lender and BharatPe. </p>
    <div style="page-break-inside: avoid !important">
        <h3 class="text-center">
            <span class="underline">Repayment Schedule</span>
        </h3>
        <table border="1" cellspacing="0" class="width-100 m-auto mb20" style="table-layout: fixed">
            <tbody>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Instalment No.</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Outstanding Principal (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Principal (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Interest (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p style="margin: 0px; font-size: 12px" class="fw400 text-center word-wrap">
                        <strong>Instalment (in INR)</strong>
                    </p>
                </td>
            </tr>
            {{repayment_schedule}}
            </tbody>
        </table>
    </div>
    <table id="repayment" border="1" cellspacing="0" class="m-auto mb20" style="page-break-inside: avoid !important">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left"> Borrower Name </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Date</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{date}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left"> Mobile No. for OTP </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Platform</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{platform}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">IP Address</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{ip_address}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Time Stamp</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{time_stamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Loan ID</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>