<html>
<head>
    <meta charset="UTF-8">
    <title>KFS Non P2P Lender</title>
    <style>
        .fw400 {
          font-weight: 400;
        }
        .width-100 {
          width: 100%;
        }
        .fw600 {
          font-weight: 600;
        }
        .width-33 {
          width: 33%;
        }
        .width-66 {
          width: 66%;
        }
        .word-wrap {
          overflow-wrap: anywhere;
        }
        .text-left {
          text-align: left;
        }
        .text-center {
          text-align: center;
        }
        .underline {
          text-decoration: underline;
        }
        .m-auto {
          margin: auto;
        }
        .mb10 {
          margin-bottom: 10px;
        }
        .mb20 {
          margin-bottom: 20px;
        }
        .mb30 {
          margin-bottom: 20px;
        }
        .mb40 {
          margin-bottom: 40px;
        }
        .mb50 {
          margin-bottom: 50px;
        }
        .width-auto {
          width: -moz-fit-content;
          width: fit-content;
        }
        .bold {
          font-weight: bold;
        }
    </style>
</head>
<body>
<div style="padding: 20px 30px; margin-top: 50px">
    {{lender_logo}}


    <h2 class="text-center">
        <span class="underline">KEY FACTS STATEMENT</span>
    </h2>
    <p style="margin: 6px 16px" class="fw400">
        This Key Fact Sheet (“KFS”) is applicable on the term loan facility
        applied by the Borrower through “BharatPe” app:
    </p>
    <table border="1" cellspacing="0" class="width-100 mb20">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Borrower</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{address_of_borrower}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{email_of_borrower}} {{phone_number_of_borrower}}</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Lender</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_lender_nbfc}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_nbfc}} {{lender_tag}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{colender_text}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Loan ID</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Purpose of Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Personal use
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Nature of the Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">Term Loan</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Lending Service Provider (LSP)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span> Digital Lending Application (DLA)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Mobile based platform “BharatPe” </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Loan Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{loan_amount_in_figure}} (Rupees {{loan_amount_in_words}}
                    Only)
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">Other Upfront Charges</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Processing Fees
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{processing_percentage}}% of the Loan Amount + applicable
                    taxes.
                    <span class="bold">
                  (i.e. Rs. {{processing_fee_includes_tax}}/- (Rupees
                  {{processing_fee_in_words_includes_tax}} Only)</span
                    >
                    & Shall be deducted from disbursement amount.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    The Processing Fees is a one-time fee.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    * In the event that the loan is foreclosed by the Borrower
                    during the Cooling Off Period, 0% of the Processing Fees shall
                    be refunded back to the Borrower
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Insurance charges (if any)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Other Charges (if any)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">
                Other details related to loan
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Net Disbursed Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{loan_amount_disbursed}}/- (Rupees
                    {{loan_amount_disbursed_in_words}} Only)
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *Interest will be applicable on the Loan Amount as communicated
                    above
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Interest Rate (%) (annually applied on reducing balance)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{annual_roi}}% per annum</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Annualized Percentage Rate
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{apr}}% per annum </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Total Interest charged during the Tenure of the Loan
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{interest_charged_to_borrower}}/- (Rupees
                    {{interest_charged_to_borrower_in_words}} Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Total Amount to be paid by the Borrower during the Tenure (along
                    with interest & processing fees)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure}}/-
                    (Rupees
                    {{total_amount_including_interest_paid_by_borrower_entire_tenure_in_words}}
                    Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Repayment Mode
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    •  Deduction of amount Instalment Amount or any other dues as per
                    the Loan Documents from the daily Settlement Amount** as per the
                    instructions of the Borrower to Resilient Innovations Private
                    Limited (offline payment aggregator of the Borrower) (
                    <span>“Offline PA”</span>).
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *Borrower hereby expressly, unconditionally and irrevocably
                    authorizes the Offline PA to make deduction of Instalment Amount
                    and other dues as per the Loan Documents & make payment directly
                    to the Lender .
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    **Settlement Amount shall have the meaning defined under the
                    Loan Documents.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Instalment Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Rs. {{interest_equal_daily}}/- (Rupees
                    {{interest_equal_daily_in_words}} Only)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Repayment/Instalment Frequency
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">Daily</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Number of Instalments
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{no_of_edis}} equal daily instalments (Please refer to
                    Repayment Schedule attached)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">Tenor</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{tenure_of_loan_in_months}} months
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">Details about Contingent Charges</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Penal Charges</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">NA</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                <span class="bold"
                >Rate of annualized penal charges (if any)</span
                >
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                <span class="bold">
                  Rate of annualized other penal charges (if any); (details to
                  be provided)
                </span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Pre-Payment/Part-Payment/Foreclosure</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>Foreclosure is allowed with no charges</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">Other Disclosures</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Cooling Off Period</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{cooling_off_days}} days from the disbursal of the Loan
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                <span
                >*Please note proportionate interest & other charges including
                  processing fees (other than pre-payment/foreclosure charges)
                  will be levied during the Cooling Off period.
                </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 8px" class="width-33"></td>
            <td style="padding: 8px" class="width-66 word-wrap"></td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Recovery Agent</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                    <span>Resilient Digi Services Private Limited</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                <span
                >*Please note that Recovery Agent (and/or its authorized
                  representatives/entities) has been authorized by the Lender to
                  contact for default in repayments. Kindly make payment on or
                  before Due Date</span
                >
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Recovery Mechanism</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    In case of non-payment of the loan amount, interest, and other
                    charges as per the terms of the loan documents, the Lender or
                    its authorized service provider(s) may approach the borrower, co
                    borrower, and guarantor for the payment of the outstanding
                    amount, by way of call(s), SMS(s), email(s), and in person
                    visit(s). Notwithstanding anything mentioned hereinabove, in the
                    event of non-receipt of the loan amount and other charges, the
                    Lender may resort to legal recourse.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">Grievance Redressal</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">For Lender</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">{{name_of_nodal_officer}}</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                <span>
                  <span class=""
                  >{{email_id}} ; {{conatct_no}} ; {{grievance_time}}</span
                  >
                </span>
                </p>
                <br />
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">For LSP</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Name: Mallika Janardhan
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Email: nodalofficer@bharatpemoney.com
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Working hours: Monday to Friday from 10:00 a.m to 7:00 pm
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Website:
                    <a href="https://www.bharatpemoney.com/" target="_blank">
                        <em>bharatpemoney.com</em>
                    </a>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Privacy Policy:
                    <a
                            href="https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
_-For-RTPL-1.docx-1.pdf"
                            target="_blank"
                    >https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
                        _-For-RTPL-1.docx-1.pdf</a
                    >
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="margin: 6px 16px" class="fw400 mb20">
        *For more detailed information, please refer to the Sanction Letter &
        Loan Agreement for the loan facility. This Key Fact Statement needs to
        be read along with the Sanction Letter & Loan Agreement.
    </p>
    <div style="page-break-inside: avoid !important">
        <h3 class="text-center">
            <span class="underline">Repayment Schedule</span>
        </h3>
        <table
                border="1"
                cellspacing="0"
                class="width-100 m-auto mb20"
                style="table-layout: fixed"
        >
            <tbody>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>Instalment No.</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>Outstanding Principal (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>Principal (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>Interest (in INR)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>Instalment (in INR)</strong>
                    </p>
                </td>
            </tr>
            {{repayment_schedule}}
            </tbody>
        </table>
    </div>
    <table
            border="1"
            cellspacing="0"
            class="m-auto mb20"
            style="page-break-inside: avoid !important">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Borrower Name
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Date</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{date}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Mobile No. for OTP
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Platform</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{platform}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">IP Address</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{ip_address}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Time Stamp</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{time_stamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">Loan ID</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>



<!-- KANNADA -->
    <h2 class="text-center">
        <span class="underline">ಪ್ರಮುಖ ಸಂಗತಿಗಳ ಹೇಳಿಕೆ</span>
    </h2>
    <p style="margin: 6px 16px" class="fw400">
        ಈ ಪ್ರಮುಖ ಸಂಗತಿಗಳ ಹೇಳಿಕೆ (ಕೆಎಫ್ ಎಸ್)ಯು ಭಾರತ್ ಪೆ ಅಪ್ಲಿಕೇಷನ್ ಮೂಲಕ ಸಾಲಗಾರರು ಅರ್ಜಿ ಸಲ್ಲಿಸಿದ ಅವಧಿ ಸಾಲ ಸೌಲಭ್ಯಕ್ಕೆ ಅನ್ವಯವಾಗುತ್ತದೆ.
    </p>
    <table border="1" cellspacing="0" class="width-100 mb20">
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">ಸಾಲಗಾರ</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{address_of_borrower}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{email_of_borrower}} {{phone_number_of_borrower}}</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">ಸಾಲದಾತ</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_lender_nbfc}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_nbfc}} {{lender_tag}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{name_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{register_address_of_colender}}
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{colender_text}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">ಸಾಲ ಸಂಖ್ಯೆ</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಾಲದ ಉದ್ದೇಶ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ವೈಯಕ್ತಿಕ ಉಪಯೋಗ
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಾಲದ ಸ್ವರೂಪ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">ಅವಧಿ ಸಾಲ</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>ಸಾಲ ನೀಡುವ ಸೇವೆ ಒದಗಿಸುವವರು (LSP)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>ರೆಸಿಲೆಂಟ್ ಡಿಜಿ ಸರ್ವಿಸಸ್ ಪ್ರೈವೇಟ್ ಲಿಮಿಟೆಡ್</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span> ಡಿಜಿಟಲ್ ಲೆಂಡಿಂಗ್ ಅಪ್ಲಿಕೇಶನ್ (DLA)</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>ಮೊಬೈಲ್ ಆಧಾರಿತ ವೇದಿಕೆ "BharatPe"</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಾಲದ ಮೊತ್ತ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಮಾತ್ರ. {{loan_amount_in_figure}} (ರೂ {{loan_amount_in_words}}
                    ರೂ)
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">ಇತರೆ ಮುಂಗಡ ಶುಲ್ಕಗಳು</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಂಸ್ಕರಣಾ ಶುಲ್ಕಗಳು
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{processing_percentage}} ಸಾಲ ಮೊತ್ತದ % + ಅನ್ವಯವಾಗುವ ತೆರಿಗೆಗಳು (ಅದೆಂದರೆ ರೂ. {{processing_fee_includes_tax}}/-(ರೂ.ಗಳು.{{processing_fee_in_words_includes_tax}}ಮಾತ್ರ)
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಂಸ್ಕರಣಾ ಶುಲ್ಕವು ಒಂದು-ಬಾರಿ ಶುಲ್ಕವಾಗಿದೆ.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    * ಕೂಲಿಂಗ್ ಆಫ್ ಅವಧಿಯಲ್ಲಿ ಸಾಲಗಾರನು ಸಾಲವನ್ನು ಫೋರ್ಕ್ಲೋಸ್ ಮಾಡಿದ ಸಂದರ್ಭದಲ್ಲಿ, ಸಂಸ್ಕರಣಾ ಶುಲ್ಕದ 0% ಅನ್ನು ಸಾಲಗಾರನಿಗೆ ಹಿಂತಿರುಗಿಸಲಾಗುತ್ತದೆ.
                </p>
            </td>
        </tr>

        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ವಿಮಾ ಶುಲ್ಕಗಳು (ಯಾವುದಾದರೂ ಇದ್ದರೆ)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಇತರ ಶುಲ್ಕಗಳು (ಯಾವುದಾದರೂ ಇದ್ದರೆ)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center width-100">
            <td colspan="2" class="fw600 bold">
                ಸಾಲಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ಇತರ ವಿವರಗಳು
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ವಿತರಿಸಿದ ನಿವ್ವಳ ಮೊತ್ತ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ರೂ. {{loan_amount_disbursed}}/- ({{loan_amount_disbursed_in_words}} ರೂ ಪಾಯಿಗಳು  ಮಾತ್ರ.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *ಮೇಲೆ ತಿಳಿಸಿದಂತೆ ಸಾಲದ ಮೊತ್ತಕ್ಕೆ ಬಡ್ಡಿ ಅನ್ವಯಿಸುತ್ತದೆ
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಬಡ್ಡಿ ದರ (%) (ವಾರ್ಷಿಕವಾಗಿ ಸಮತೋಲನವನ್ನು ಕಡಿಮೆ ಮಾಡಲು ಅನ್ವಯಿಸಲಾಗುತ್ತದೆ)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>ವರ್ಷಕ್ಕೆ % {{annual_roi}}</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ವಾರ್ಷಿಕ ಶೇಕಡಾವಾರು ದರ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>{{apr}}% ಪ್ರತಿ ವರ್ಷಕ್ಕೆ</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಾಲದ ಅವಧಿಯಲ್ಲಿ ವಿಧಿಸಲಾದ ಒಟ್ಟು ಬಡ್ಡಿ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ರೂ. {{interest_charged_to_borrower}}/- {{interest_charged_to_borrower_in_words}} ರೂ.ಗಳು.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಅವಧಿಯಲ್ಲಿ ಸಾಲಗಾರನು ಪಾವತಿಸಬೇಕಾದ ಒಟ್ಟು ಮೊತ್ತ (ಬಡ್ಡಿ ಮತ್ತು ಸಂಸ್ಕರಣಾ ಶುಲ್ಕಗಳೊಂದಿಗೆ)
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ರೂ. {{total_amount_including_interest_paid_by_borrower_entire_tenure}}/- {{total_amount_including_interest_paid_by_borrower_entire_tenure_in_words}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಮರುಪಾವತಿ ವಿಧಾನ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    • ರೆಸಿಲೆಂಟ್ ಇನ್ನೊವೇಶನ್ಸ್ ಪ್ರೈವೇಟ್ ಲಿಮಿಟೆಡ್ (ಸಾಲಗಾರರ ಆಫ್ ಲೈನ್ ಪಾವತಿ ಸಂಗ್ರಾಹಕ) ( “ಆಫ್ ಲೈನ್ ಪಿಎ”)ಗೆ ಸಾಲಗಾರರ ಸೂಚನೆಗಳಂತೆ ಸಾಲ ದಾಖಲೆಗಳ ಪ್ರಕಾರ ದೈನಂದಿನ ಸೆಟಲಮೆಂಟ್ ಮೊತ್ತದಿಂದ ಕಂತು ಮೊತ್ತ ಅಥವಾ ಯಾವುದೇ ಇತರೆ ಬಾಕಿ ಮೊತ್ತದ ಕಡಿತ**
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    *ಸಾಲಗಾರರು ಈ ಮೇರೆಗೆ ಸಾಲ ದಾಖಲೆಪತ್ರಗಳ ಪ್ರಕಾರ ಕಂತು ಮೊತ್ತ ಮತ್ತು ಇತರೆ ಬಾಕಿಗಳನ್ನು ಕಡಿತಗೊಳಿಸಲು & ಸಾಲದಾತರಿಗೆ ನೇರವಾಗಿ ಪಾವತಿಸಲು ಆಫ್ ಲೈನ್ ಪಿಎಗೆ ಸ್ಪಷ್ಟವಾಗಿ, ಬೇಷರತ್ತಾಗಿ ಮತ್ತು ಹಿಂಪಡೆಯಲಾಗದ ಅಧಿಕಾರವನ್ನು ನೀಡಿರುತ್ತಾರೆ.
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ** ಸೆಟಲ್ ಮೆಂಟ್ ಮೊತ್ತದ ಅರ್ಥವನ್ನು ಸಾಲ ದಾಖಲೆಪತ್ರಗಳ ಕೆಳಗೆ ವ್ಯಾಖ್ಯಾನಿಸಲಾಗಿದೆ.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    Instalment Amount
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ರೂ.{{interest_equal_daily}}/- (ರೂಪಾಯಿಗಳು{{interest_equal_daily_in_words}} ಮಾತ್ರ)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಮರುಪಾವತಿ/ಕಂತು ಆವರ್ತನ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">ಪ್ರತಿದಿನ</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಕಂತುಗಳ ಸಂಖ್ಯೆ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{no_of_edis}} ಸಮಾನ ದೈನಂದಿನ ಕಂತುಗಳು (ದಯವಿಟ್ಟು ಲಗತ್ತಿಸಲಾದ ಮರುಪಾವತಿ ವೇಳಾಪಟ್ಟಿಯನ್ನು ನೋಡಿ)
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">ಅವಧಿ</p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{tenure_of_loan_in_months}} ಬರೆಯಿರಿ
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">ಅನಿಶ್ಚಿತ ಶುಲ್ಕಗಳ ಬಗ್ಗೆ ವಿವರಗಳು</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">ದಂಡ ಶುಲ್ಕಗಳು </span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">NA
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                <span class="bold"
                >ವಾರ್ಷಿಕ ದಂಡ ಶುಲ್ಕಗಳ ದರ (ಯಾವುದಾದರೂ ಇದ್ದರೆ)</span
                >
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                <span class="bold">
                  ವಾರ್ಷಿಕ ಇತರ ದರದಂಡದ ಶುಲ್ಕಗಳು (ಯಾವುದಾದರೂ ಇದ್ದರೆ);(ವಿವರಗಳನ್ನು ಒದಗಿಸಬೇಕು)
                </span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>NA </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span>ಪೂರ್ವ-ಪಾವತಿ/ಭಾಗ-ಪಾವತಿ / ಸ್ವತ್ತುಮರುಸ್ವಾಧೀನ</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
<!--                    foreclosure is allowed with no charges-->
                    <span>NA</span>
                </p>
            </td>
        </tr>
        <tr style="padding: 0px 5px" class="text-center bold width-100">
            <td colspan="2" class="fw600">ಇತರ ಬಹಿರಂಗಪಡಿಸುವಿಕೆಗಳು</td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">ಕೂಲಿಂಗ್ ಆಫ್ ಅವಧಿ</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{cooling_off_days}} ಸಾಲ ವಿತರಣೆಯಿಂದ ದಿನಗಳು
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                <span>**ದಯವಿಟ್ಟು ಪ್ರಮಾಣಾನುಗುಣವಾದ ಬಡ್ಡಿ ಮತ್ತು ಸಂಸ್ಕರಣಾ ಶುಲ್ಕಗಳು (ಪೂರ್ವ-ಪಾವತಿ / ಸ್ವತ್ತುಮರುಸ್ವಾಧೀನ ಶುಲ್ಕಗಳು ಹೊರತುಪಡಿಸಿ) ಸೇರಿದಂತೆ ಇತರ ಶುಲ್ಕಗಳನ್ನು ಕೂಲಿಂಗ್ ಆಫ್ ಅವಧಿಯಲ್ಲಿ ವಿಧಿಸಲಾಗುತ್ತದೆ ಎಂಬುದನ್ನು ಗಮನಿಸಿ.
                </span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 8px" class="width-33"></td>
            <td style="padding: 8px" class="width-66 word-wrap"></td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">ವಸೂಲಾತಿ ಏಜೆಂಟ್</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                    <span>*ರೆಸಿಲೆಂಟ್ ಡಿಜಿ ಸರ್ವಿಸಸ್ ಪ್ರೈವೇಟ್ ಲಿಮಿಟೆಡ್ </span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left bold">
                <span>*ಮರುಪಾವತಿಯಲ್ಲಿ ಡೀಫಾಲ್ಟ್‌ಗಾಗಿ ಸಂಪರ್ಕಿಸಲು ಸಾಲದಾತರಿಂದ ರಿಕವರಿ ಏಜೆಂಟ್ (ಮತ್ತು/ಅಥವಾ ಅದರ ಅಧಿಕೃತ ಪ್ರತಿನಿಧಿಗಳು/ಸಂಸ್ಥೆಗಳು) ಅಧಿಕಾರ ಪಡೆದಿದ್ದಾರೆ ಎಂಬುದನ್ನು ದಯವಿಟ್ಟು ಗಮನಿಸಿ. ದಯವಿಟ್ಟು ನಿಗದಿತ ದಿನಾಂಕದಂದು ಅಥವಾ ಮೊದಲು ಪಾವತಿ ಮಾಡಿ.</span>
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">ವಸೂಲಾತಿ ವ್ಯವಸ್ಥೆ</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಾಲದ ದಾಖಲೆಗಳ ನಿಯಮಗಳ ಪ್ರಕಾರ ಸಾಲದ ಮೊತ್ತ, ಬಡ್ಡಿ ಮತ್ತು ಇತರ ಶುಲ್ಕಗಳನ್ನು ಪಾವತಿಸದಿದ್ದಲ್ಲಿ, ಸಾಲದಾತ ಅಥವಾ ಅದರ ಅಧಿಕೃತ ಸೇವಾ ಪೂರೈಕೆದಾರರು (ಗಳು) ಸಾಲಗಾರ, ಸಹ ಸಾಲಗಾರ ಮತ್ತು ಖಾತರಿದಾರರನ್ನು ಬಾಕಿ ಮೊತ್ತ ಪಾವತಿಸಲು ಕರೆ(ಗಳು), SMS(ಗಳು), ಇಮೇಲ್(ಗಳು), ಮತ್ತು ವೈಯಕ್ತಿಕ ಭೇಟಿ(ಗಳು) ಮೂಲಕ ಸಂಪರ್ಕಿಸಬಹುದು.  ಇಲ್ಲಿ ಉಲ್ಲೇಖಿಸಿರುವ ಯಾವುದೇ ಹೊರತಾಗಿಯೂ, ಸಾಲದ ಮೊತ್ತ ಮತ್ತು ಇತರ ಶುಲ್ಕಗಳನ್ನು ಸ್ವೀಕರಿಸದಿದ್ದಲ್ಲಿ, ಸಾಲದಾತನು ಕಾನೂನು ಆಶ್ರಯವನ್ನು ಅವಲಂಬಿಸಬಹುದು.
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-33">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold">ಕುಂದುಕೊರತೆ ಪರಿಹಾರ</span>
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-66 word-wrap">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">ಸಾಲದಾತರಿಗಾಗಿ</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="">{{name_of_nodal_officer}}</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                <span>
                  <span class=""
                  >{{email_id}} ; {{conatct_no}} ; {{grievance_time}}</span
                  >
                </span>
                </p>
                <br />
                <p style="margin: 6px 16px" class="fw400 text-left">
                    <span class="bold underline">LSP ಗಾಗಿ</span>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಹೆಸರು : ಮಲ್ಲಿಕಾ ಜನಾರ್ದನ್
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಇಮೇಲ್: nodalofficer@bharatpemoney.com
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಕೆಲಸದ ಸಮಯ: ಸೋಮವಾರದಿಂದ ಶುಕ್ರವಾರದವರೆಗೆ ಬೆಳಿಗ್ಗೆ 10:00 ರಿಂದ ಸಂಜೆ 7:00 ರವರೆಗೆ
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ವೆಬ್‌ಸೈಟ್:
                    <a href="https://www.bharatpemoney.com/" target="_blank">
                        <em>bharatpemoney.com</em>
                    </a>
                </p>
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಗೌಪ್ಯತಾ ನೀತಿ:
                    <a
                            href="https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
_-For-RTPL-1.docx-1.pdf"
                            target="_blank"
                    >https://bharatpemoney.com/documents/BharatPe-_-Privacy-Policy-_-Lending-
                        _-For-RTPL-1.docx-1.pdf</a
                    >
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="margin: 6px 16px" class="fw400 mb20">
        *ಹೆಚ್ಚಿನ ವಿವರವಾದ ಮಾಹಿತಿಗಾಗಿ, ದಯವಿಟ್ಟು ಮಂಜೂರಾತಿ ಪತ್ರ ಮತ್ತು ಸಾಲ ಸೌಲಭ್ಯಕ್ಕಾಗಿ ಸಾಲ ಒಪ್ಪಂದವನ್ನು ನೋಡಿ. ಈ ಪ್ರಮುಖ ಸಂಗತಿಗಳ ಹೇಳಿಕೆಯನ್ನು ಮಂಜೂರಾತಿ ಪತ್ರ ಮತ್ತು ಸಾಲ ಒಪ್ಪಂದದ ಜೊತೆಗೆ ಓದಬೇಕು.
    </p>
    <div style="page-break-inside: avoid !important">
        <h3 class="text-center">
            <span class="underline">Repayment Schedule</span>
        </h3>
        <table
                border="1"
                cellspacing="0"
                class="width-100 m-auto mb20"
                style="table-layout: fixed"
        >
            <tbody>
            <tr class="width-100">
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>ಕಂತಿನ ಸಂ. </strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>ಬಾಕಿ ಅಸಲು (ರೂ.ಗಳಲ್ಲಿ)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>ಅಸಲು (ರೂ.ಗಳಲ್ಲಿ)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>ಬಡ್ಡಿ (ರೂ.ಗಳಲ್ಲಿ)</strong>
                    </p>
                </td>
                <td style="padding: 0px 5px" class="width-auto">
                    <p
                            style="margin: 0px; font-size: 12px"
                            class="fw400 text-center word-wrap"
                    >
                        <strong>ಕಂತು (ರೂ.ಗಳಲ್ಲಿ)</strong>
                    </p>
                </td>
            </tr>
            {{repayment_schedule}}
            </tbody>
        </table>
    </div>
    <table
            id="repayment"
            border="1"
            cellspacing="0"
            class="m-auto mb20"
            style="page-break-inside: avoid !important"
    >
        <tbody>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಸಾಲಗಾರರ ಹೆಸರು
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{borrower_name}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">ದಿನಾಂಕ</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">{{date}}</p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    ಒಟಿಪಿಗಾಗಿ ಮೊಬೈಲ್ ಸಂಖ್ಯೆ
                </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{mobile_number_for_otp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">ಫ್ಲಾಟ್ ಫಾರ್ಮ್ (ವೇದಿಕೆ) </p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{platform}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">ಐಪಿ ವಿಳಾಸ</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{ip_address}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">ಸಮಯ ಮುದ್ರೆ</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{time_stamp}}
                </p>
            </td>
        </tr>
        <tr class="width-100">
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">ಸಾಲ ಸಂಖ್ಯೆ</p>
            </td>
            <td style="padding: 0px 5px" class="width-auto">
                <p style="margin: 6px 16px" class="fw400 text-left">
                    {{loan_id}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>