<html>
<head>
    <style>
        .width-100 {
            width: 100%;
        }
    </style>
</head>
<body>
<p dir="ltr" style="line-height:1.2;text-align:left;margin-top:0pt;margin-bottom:0pt;">
    <span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Date : {{date}}</span>
</p>
<br>
<p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">INTIMATION OF TRANSFER/ ASSIGNMENT OF YOUR ACCOUNT WITH TRILLION LOANS FOR ACCOUNT NUMBER ENDING WITH</span></p>
<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Dear Customer,&nbsp;</span></p>
<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">This is to inform you that as per terms & conditions of TRILLION LOANS, your account outstanding dues of Rs {{due_amount}} as on 19th Mar 2023 have been assigned to ENCORE ASSET RECONSTRUCTION COMPANY PVT LTD on 31st Mar 2023.</span></p>
<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ENCORE is a Asset Reconstruction Company created under Section 3 of the Securitisation and Reconstruction of Financial Assets and Enforcement of security Interest Act, 2002 , having its registered office at Caddie Commercial tower ,Regus Business Center 5th Floor  Aerocity (DIAL), New Delhi , India 110037 and Corporate office at 5th Floor, Plot 137  Sector 44 Gurgaon Haryana 122002.</span></p>
<br>
<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>WHAT THE TRANSFER/ASSIGNMENT MEANS TO YOU:</b></span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Your Obligations to pay TRILLION LOANS, all outstanding amounts with respect to your amount mentioned above, has been assigned/transferred to ENCORE ARC from 31st Mar 2023</span></p>

<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>RIGHT TO COLLECT WITH EFFECT FROM THE ASSIGNMENT DATE:</b></span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ENCORE ARC shall have the legal right to collect the entire outstanding amount and overdue amount, regarding your account as mentioned above. With effect from 31st Mar 2023,ENCORE ARC can initiate all measures applicable under the law  for recovery of amounts outstanding under your account mentioned above.</span></p>

<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>PAYMENT DUE </b></span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Please note that your entire outstanding amount is overdue and is payable immediately to ENCORE ARC. You may, accordingly, receive communication from ENCORE ARC regarding the payment of this amount.</span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Also note that w.e.f 31st Mar 2023 your TRILLION LOANS loan will be deactivated but may take at least 90 days for it to be reflected in the Credit Bureau’s. For any queries, please get in touch with ENCORE ARC.</span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Additionally w.r.f 31st Mar 2023 we urge you to make all payments directly to ENCORE ARC. TRILLION LOANS would not be in a position to transfer your payments to ENCORE ARC after 31st Mar 2023. In case you have any automatic payment set up in favor of TRILLION LOANS kindly arrange to get such instruction canceled and make payment towards the outstanding dues directly to ENCORE ARC.</span></p>

<br>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>Contact Details: </b></span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ENCORE ASSET RECONSTRUCTION COMPANY PVT LTD</span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">EMAIL : clientcare@encore.com  Contact Center : (0124) 452 7217</span></p>
<br>

<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ENCORE ASSET RECONSTRUCTION COMPANY PVT LTD Account Details:</span></p>
<br>

<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Beneficiary Name : EARC BANK 027 TRUST</span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Account Number : 50200077654005</span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">IFSC Code : HDFC0001720</span></p>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Branch : HDFC BANK LTD, SCO-321, SECTOR 29, GURGAON, HARYANA- 122002</span></p>
<br>
<br>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">WARM REGARDS</span></p>
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">TRILLION LOANS</span></p>


</body>
</html>
